/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2015, 5:06:51 AM
    Author     : shambhu
*/

@media screen and (min-width: 1200px) {
    .pathway_enrolmentform  .editor_atto_wrap{
        margin-left: 265px;
    }
}
@media screen and (max-width: 1199px) {
    .pathway_enrolmentform .editor_atto_wrap{
        float: left;
        width: 100%;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}



.accordion-pathway_enrolment .accordion-group{
    margin-bottom: 9px;
}
.mail-btn{
    background-image: none !important;
    background-color: #F5F5F5 !important;
    color: #574F4F !important;
    margin: 0px 0px 0px 5px;
}
#ajax-response > .alert .close {
    position: relative;
    top: -2px;
    right: -100px;
    line-height: 23px;
}