/**
 * Collapsed Topics Information
 *
 * A topic based format that solves the issue of the 'Scroll of Death' when a course has many topics. All topics
 * except zero have a toggle that displays that topic. One or more topics can be displayed at any given time.
 * Toggles are persistent on a per browser session per course basis but can be made to persist longer by a small
 * code change. Full installation instructions, code adaptions and credits are included in the 'Readme.txt' file.
 *
 * @package    course/format
 * @subpackage topcoll
 * @version    See the value of '$plugin->version' in version.php.
 * @copyright  &copy; 2009-onwards G J Barnard in respect to modifications of standard topics format.
 * @author     G J Barnard - gjbarnard at gmail dot com and {@link http://moodle.org/user/profile.php?id=442195}
 * @link       http://docs.moodle.org/en/Collapsed_Topics_course_format
 * @license    http://www.gnu.org/copyleft/gpl.html GNU Public License
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.nav-tabs > li > a::after {
    background: none !important;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scale(0);
    transition: all 250ms ease 0s;
    width: 100%;
}

.nav {
    list-style: outside none none;
    margin-bottom: 20px;
    margin-left: 0;
}


.course-content ul.ctopics {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.course-content ul.ctlayout {
    display: inline-block;
    vertical-align: top;
}

.course-content ul.ctopics li.section.main .left, .course-content ul.ctopics li.section.main .right {
    /* Fix for Bootstrap V3 based themes in less/moodle/course.less . */
    display: block;
}

.course-content ul.ctopics li.section.main, .course-content ul.ctopics li.tcsection {
    list-style: none;
    margin: 4px 1px 1px 1px;
    padding: 0;
}

/* Fix for ordered and unordered list in course topic summary & course weekly summary - from theme/base/style/core.css
 * See: https://moodle.org/mod/forum/discuss.php?d=251944.
 */
.course-content ul.ctopics .content .summary ul, .course-content ul.ctopics .content .summarytext ul {
    list-style: disc outside none;
}
.course-content ul.ctopics .content .summary ol, .course-content ul.ctopics .content .summarytext ol {
    list-style: decimal outside none;
}

.course-content ul.ctopics li.section.main .content, .course-content ul.ctopics li.tcsection .content {
    /* Default for non tablets / mobiles.  If the language file has 'topcollsidewidth' for the current language, then will be set in format.php. */
    margin: 0 40px;
    padding: 0;
}

.course-content ul.ctopics.ctportable li.section.main .content, .course-content ul.ctopics.ctportable li.tcsection .content {
    margin: 0 0; /* Override default for tablets / mobiles.  When have sides, set in format.php. */
}
/*comment by nihar*/
/*.course-content ul.ctopics li .content .sectionhead h3 {
    margin: 0;
    padding: 10px;
    padding-right: 0px;
    margin-right: 0px !important;
    background: #C9D3D8;
}*/

.course-content ul.ctopics li.current .content .toggledsection {
    padding: 0 0 5px 0;
}

.course-content ul.ctopics li.section.hidden .content > div {
    margin-left: 0;
    margin-right: 0;
}

/* Toggle icon size */
#toggle-all .content .sectionbody h4 a.tc-small, .course-content ul.ctopics li.section .content .toggle a.tc-small {
    background-size: 16px 16px;
}

#toggle-all .content .sectionbody h4 a.tc-medium, .course-content ul.ctopics li.section .content .toggle a.tc-medium {
    background-size: 24px 24px;
    background-position: 12px;
}
#toggle-all .content .sectionbody h4 a.tc-large, .course-content ul.ctopics li.section .content .toggle a.tc-large {
    background-size: 32px 32px;
}

/* -- Set the clickable element of the Toggle -- */
.course-content ul.ctopics li.section .content .toggle a {
    display: block;
    width: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.course-content ul.ctopics li.section .content .toggle a.tc-small {
    padding-left: 16px; /* The 16px allows the arrow to be with the text next to it. */
    padding-right: 16px;
}

.course-content ul.ctopics li.section .content .toggle a.tc-medium {
    /*padding-left: 24px; /* The 24px allows the arrow to be with the text next to it. */
    /*padding-right: 24px; */
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 36px !important;

    background-color: #E1EAEF;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.course-content ul.ctopics li.section .content .toggle a.tc-large {
    padding-left: 32px; /* The 32px allows the arrow to be with the text next to it. */
    padding-right: 32px;
}

/* CONTRIB-4106 */
.course-content ul.ctopics li.section .content .toggle a  h3,
.course-content ul.ctopics li.section .content.sectionhidden h3 {
    margin: 0;
}

.course-content ul.ctopics li.section .content .toggle a  h3.section-title,
.course-content ul.ctopics li.section .content.sectionhidden h3.section-title {
    margin: 4px;
    color: inherit;
}

/* Icon set common. */
.course-content ul.ctopics li.section .content .toggle a, #toggle-all .content h4 a {
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0 4px;
}

/* Icon sets.  Note: Background images for the settings - does not work in Chrome or Safari - known issue. */
/* Arrow icon set. */
.course-content ul.ctopics li.section .content .toggle-arrow a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-arrow a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-arrow h4 a.off {
    background-image: url([[pix:format_topcoll|arrow_down]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-arrow h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="arrow"], body#page-course-edit select#id_toggleiconset option[value="arrow"] {
    background-image: url([[pix:format_topcoll|arrow_right]]);
}

#toggle-all .content .toggle-arrow-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|arrow_right_glow]]);
}

#toggle-all .content .toggle-arrow-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|arrow_down_glow]]);
}

/* Bulb icon set. */
.course-content ul.ctopics li.section .content .toggle-bulb a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-bulb a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-bulb a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-bulb h4 a.off {
    background-image: url([[pix:format_topcoll|bulb_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-bulb a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-bulb h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="bulb"], body#page-course-edit select#id_toggleiconset option[value="bulb"] {
    background-image: url([[pix:format_topcoll|bulb_off]]);
}

#toggle-all .content .toggle-bulb-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|bulb_off_glow]]);
}

#toggle-all .content .toggle-bulb-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|bulb_on_glow]]);
}

/* Cloud icon set. */
.course-content ul.ctopics li.section .content .toggle-cloud a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-cloud a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-cloud a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-cloud h4 a.off {
    background-image: url([[pix:format_topcoll|cloud_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-cloud a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-cloud h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="cloud"], body#page-course-edit select#id_toggleiconset option[value="cloud"] {
    background-image: url([[pix:format_topcoll|cloud_off]]);
}

#toggle-all .content .toggle-cloud-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|cloud_off_glow]]);
}

#toggle-all .content .toggle-cloud-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|cloud_on_glow]]);
}

/* Eye icon set. */
.course-content ul.ctopics li.section .content .toggle-eye a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-eye a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-eye a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-eye h4 a.off {
    background-image: url([[pix:format_topcoll|eye_show]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-eye a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-eye h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="eye"], body#page-course-edit select#id_toggleiconset option[value="eye"] {
    background-image: url([[pix:format_topcoll|eye_hide]]);
}

#toggle-all .content .toggle-eye-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|eye_hide_glow]]);
}

#toggle-all .content .toggle-eye-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|eye_show_glow]]);
}

/* Ground signal set. */
.course-content ul.ctopics li.section .content .toggle-groundsignal a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-ground-signal a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-groundsignal a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-groundsignal h4 a.off,
#toggle-all .content .toggle-groundsignal-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|ground_signal_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-groundsignal a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-groundsignal-hover h4 a.off:hover,
#toggle-all .content .toggle-groundsignal h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="groundsignal"], body#page-course-edit select#id_toggleiconset option[value="groundsignal"] {
    background-image: url([[pix:format_topcoll|ground_signal_off]]);
}

/* LED icon set. */
.course-content ul.ctopics li.section .content .toggle-led a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-led a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-led a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-led h4 a.off {
    background-image: url([[pix:format_topcoll|led_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-led a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-led h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="led"], body#page-course-edit select#id_toggleiconset option[value="led"] {
    background-image: url([[pix:format_topcoll|led_off]]);
}

#toggle-all .content .toggle-led-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|led_off_glow]]);
}

#toggle-all .content .toggle-led-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|led_on_glow]]);
}

/* Point icon set. */
.course-content ul.ctopics li.section .content .toggle-point a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-point a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-point a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-point h4 a.off {
    background-image: url([[pix:format_topcoll|point_down]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-point a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-point h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="point"], body#page-course-edit select#id_toggleiconset option[value="point"] {
    background-image: url([[pix:format_topcoll|point_right]]);
}

#toggle-all .content .toggle-point-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|point_right_glow]]);
}

#toggle-all .content .toggle-point-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|point_down_glow]]);
}

/* Power icon set. */
.course-content ul.ctopics li.section .content .toggle-power a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-power a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-power a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-power h4 a.off {
    background-image: url([[pix:format_topcoll|toggle_plus]]);
    padding-left: 36px;
    background-color: #E1EAEF;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-power a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-power h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="power"], body#page-course-edit select#id_toggleiconset option[value="power"] {
    background-image: url([[pix:format_topcoll|toggle_minus]]);
}

#toggle-all .content .toggle-power-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|toggle_minus_glow]]);
}

#toggle-all .content .toggle-power-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|toggle_plus_glow]]);
}

/* Radio icon set. */
.course-content ul.ctopics li.section .content .toggle-radio a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-radio a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-radio a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-radio h4 a.off {
    background-image: url([[pix:format_topcoll|radio_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-radio a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-radio h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="radio"], body#page-course-edit select#id_toggleiconset option[value="radio"] {
    background-image: url([[pix:format_topcoll|radio_off]]);
}

#toggle-all .content .toggle-radio-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|radio_off_glow]]);
}

#toggle-all .content .toggle-radio-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|radio_on_glow]]);
}

/* Smiley icon set. */
.course-content ul.ctopics li.section .content .toggle-smiley a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-smiley a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-smiley a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-smiley h4 a.off {
    background-image: url([[pix:format_topcoll|smiley_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-smiley a.toggle_closed , /* JavaScript enabled */
#toggle-all .content .toggle-smiley h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="smiley"], body#page-course-edit select#id_toggleiconset option[value="smiley"] {
    background-image: url([[pix:format_topcoll|smiley_off]]);
}

#toggle-all .content .toggle-smiley-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|smiley_off_glow]]);
}

#toggle-all .content .toggle-smiley-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|smiley_on_glow]]);
}

/* Square icon set. */
.course-content ul.ctopics li.section .content .toggle-square a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-square a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-square a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-square h4 a.off {
    background-image: url([[pix:format_topcoll|square_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-square a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-square h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="square"], body#page-course-edit select#id_toggleiconset option[value="square"] {
    background-image: url([[pix:format_topcoll|square_off]]);
}

#toggle-all .content .toggle-square-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|square_off_glow]]);
}

#toggle-all .content .toggle-square-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|square_on_glow]]);
}

/* Sun / Moon icon set. */
.course-content ul.ctopics li.section .content .toggle-sunmoon a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-sunmoon a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-sunmoon a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-sunmoon h4 a.off {
    background-image: url([[pix:format_topcoll|sunmoon_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-sunmoon a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-sunmoon h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="sunmoon"], body#page-course-edit select#id_toggleiconset option[value="sunmoon"] {
    background-image: url([[pix:format_topcoll|sunmoon_off]]);
}

#toggle-all .content .toggle-sunmoon-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|sunmoon_off_glow]]);
}

#toggle-all .content .toggle-sunmoon-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|sunmoon_on_glow]]);
}

/* Switch icon set. */
.course-content ul.ctopics li.section .content .toggle-switch a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-switch a.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.ctopics li.section .content .toggle-switch a.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-switch h4 a.off {
    background-image: url([[pix:format_topcoll|switch_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-switch a.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-switch h4 a.on,
body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option[value="switch"], body#page-course-edit select#id_toggleiconset option[value="switch"] {
    background-image: url([[pix:format_topcoll|switch_off]]);
}

#toggle-all .content .toggle-switch-hover h4 a.off:hover {
    background-image: url([[pix:format_topcoll|switch_off_glow]]);
}

#toggle-all .content .toggle-switch-hover h4 a.on:hover {
    background-image: url([[pix:format_topcoll|switch_on_glow]]);
}

body#page-admin-setting-formatsettingtopcoll select#id_s_format_topcoll_defaulttoggleiconset option, body#page-course-edit select#id_toggleiconset option {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center; /* Position the icon to the right of the selection text. */
    padding: 3px 20px 3px 3px; /* The 20px allows the image to be on the right and the text next to it. */
}

body#page-admin-setting-formatsettingtopcoll.lang-en_ar select#id_s_format_topcoll_defaulttoggleiconset option, body#page-course-edit.lang-en_ar select#id_toggleiconset option {
    background-position: 220px 45%; /* Pirate strings are longer. */
}

/* Display instructions */
.topcoll-display-instructions {
    margin: 0;
}

/* Layout */
.course-content ul.ctopics #section-0 .content{
    padding: 10px;
}

.course-content ul.ctopics li.section.main .side, .course-content ul.ctopics li.tcsection .side {
    width: 40px; /* Default used in editing mode or when not defined in the language file. */
    text-align: center;
    padding: 0;
}

.course-content ul.ctopics li.section .left, .course-content ul.ctopics li.tcsection .left {
    float:left;
}

.course-content ul.ctopics li.section.main .left {
    padding: 10px 0 0 0;
}

.course-content ul.ctopics li.current.main .right {
    padding: 0 0 0 0; /* Cancel out effect of above when having to use 'left' side selector for getting the correct text colour on the right for the current section.  This is because the selector '.course-content .current .left' defines the colour in the theme and therefore any CT specific 'right' implementation would not work for all themes. */
}

.course-content ul.ctopics li.section .right, .course-content ul.ctopics li.tcsection .right {
    float:right;
}

.course-content ul.ctopics li.section .right {
    line-height: 1.3;
}

.course-content ul.ctopics li.section .right a {
    display: block;  /* So that section_right_content() does not implode with 'br's and get too many when the up arrow is removed by JS. */
}

.course-content ul.ctopics li.section .right a img.hide{
    display: inline;  /* CONTRIB-5817 - Align the eye icon. */
}

.course-content ul.ctopics li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

/* Assist the layout. */
body.format-topcoll.dir-rtl .course-content ul.ctopics li.section .left {
    float: right;
}

body.format-topcoll.dir-rtl .course-content ul.ctopics li.section .right {
    float: left;
}

body.format-topcoll .ctopics .section .activity .mod-indent-outer,
body.format-topcoll.editing.dir-rtl .ctopics .section .activity .mod-indent-outer {
    padding-left: 0;
}

body.format-topcoll.editing .ctopics .section .activity .mod-indent-outer {
    padding-left: 32px;
}

body.format-topcoll.dir-rtl .ctopics .section .activity .mod-indent-outer {
    padding-right: 0;
}

body.format-topcoll.editing.dir-rtl .ctopics .section .activity .mod-indent-outer {
    padding-right: 32px;
}

body.format-topcoll .ctopics .section  {
    margin: 1em 0;
}

body.format-topcoll .course-content ul.ctopics li.section .summary {
    margin-left: 0;
}

body.format-topcoll.dir-rtl .course-content ul.ctopics li.section .summary {
    margin-right: 0;
}

body.format-topcoll .course-content ul.ctopics li.section .summary.summaryalwaysshown {
    padding-top: 10px;
}

body.format-topcoll.editing ul.ctopics .section .activity .contentwithoutlink, body.format-topcoll.editing ul.ctopics .section .activity .activityinstance {
    padding-right: 0;
    display: inline;
}

body.format-topcoll.editing.dir-rtl ul.ctopics .section .activity .contentwithoutlink, body.format-topcoll.editing.dir-rtl ul.ctopics .section .activity .activityinstance {
    padding-left: 0;
}

/*body.format-topcoll.editing ul.ctopics .section .activity .actions {
    position: relative;
}*/

body.format-topcoll.editing #region-main ul.ctopics .moodle-actionmenu ul.menubar {
    display: none;
}

body.format-topcoll.editing.jsenabled #region-main ul.ctopics .moodle-actionmenu[data-enhance] ul.menubar {
    display: inline-block;
}

/* -- The section name in a Toggle and hidden section -- */
.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden  {
    display: block;
    text-align: left;
    padding: 0 0;
}

/* -- The width of a section name in a Toggle -- */
.course-content ul.ctopics li.section .content .toggle {
    width: 100%;
}

/* -- The padding of a hidden section -- */
.course-content ul.ctopics li.section .content.sectionhidden  {
    padding: 6px 0 6px 0;
}

/* -- The topic summary text -- */
.course-content ul.ctopics li.section .content .toggle a p {
    font-size: 1.2em;
    font-style: italic;
    text-align: left;
}


/* -- For centring the 'Topic / Week / Day x' text -- */
.course-content ul.ctopics li.section .right span.cps_centre, .dir-rtl .course-content ul.ctopics li.section .left span.cps_centre {
    text-align: center;
    font-size: 0.7em;
}

.dir-rtl .course-content ul.ctopics li.section .right span.cps_centre {
    font-size: 14px;
}

/* -- Toggle text -- */
.course-content ul.ctopics li.section .content .toggle a, .course-content ul.ctopics li.section .content.sectionhidden {
    text-decoration: none;
    font-weight: bold;
}

.course-content ul.ctopics li.section .content .toggledsection {
    min-height: 30px;
}

/* -- Hiding / Showing the sections -- */
body.jsenabled .toggledsection {
    display: none; /* If JavaScript is enabled then this css will apply and the section will be hidden. */
}

body.jsenabled .toggledsection.sectionopen {
    display: block;
}

/* -- Size of the spacer row -- */
.section .spacer {
    height:0.5em;
}

/* Toggle all */
#toggle-all, #topcoll-display-instructions {
    display: none; /* Hide when JavaScript not enabled. */
}

body.jsenabled #toggle-all, body.jsenabled #topcoll-display-instructions {
    display: block;
}

body.jsenabled #toggle-all {
    background: none repeat scroll 0 0 transparent;
}

#toggle-all .content .sectionbody h4 {
    display: block;
    padding: 6px 0;
    margin-bottom: 0;
}

#toggle-all .content .sectionbody h4 a {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 35px;
    text-decoration: none;
}

#toggle-all .content .sectionbody h4 a.tc-small {
    padding-left: 18px; /* The 18px allows the arrow to be with the text next to it. */
    padding-right: 18px;
}

#toggle-all .content .sectionbody h4 a.tc-medium {
    padding-left: 26px; /* The 26px allows the arrow to be with the text next to it. */
    padding-right: 26px;
}

#toggle-all .content .sectionbody h4 a.tc-large {
    padding-left: 34px; /* The 34px allows the arrow to be with the text next to it. */
    padding-right: 34px;
}

#toggle-all .content .sectionbody h4, #toggle-all .content .sectionbody h4 a {
    text-align: left;
}

.dir-rtl #toggle-all .content .sectionbody h4, .dir-rtl #toggle-all .content .sectionbody h4 a {
    text-align: right;
}

.cttoggle {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}

/* MDL-42634 */
.course-content ul.ctopics li.section.hidden .sectionname, .course-content ul.ctopics li.section.hidden .content>div, .course-content ul.ctopics li.section.hidden .activity .activityinstance {
    opacity: inherit;
}

.course-content ul.ctopics li.section.hidden h3.section-title,
.course-content ul.ctopics li.section.hidden .content .summary {
    opacity: 0.5;
}

/* Print styles. */
@media print {
    body.jsenabled .toggledsection {
        display: block; /* If JavaScript is enabled and we are printing then this css will apply and the section will be shown. */
    }
    body.jsenabled #toggle-all, body.jsenabled #topcoll-display-instructions, .cttoggle {
        display: none;
    }
    .course-content ul.ctopics li.section.main {
        float: left;
    }
    body.format-topcoll .course-content ul.ctopics li.section.main {
        padding-bottom: 0;
    }
    ul.ctopics {
        page-break-before: avoid;
        page-break-after: avoid;
    }
}


/* Added by Shiuli. */
.format-topcoll .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
    border-width: 0;
}
.format-topcoll .nav-tabs > .active {
    border-top: 3px solid #ccc;
    margin-top: 0;
}
.format-topcoll .nav-tabs > li > a {
    border: none;
    color: #666;
}
.format-topcoll .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}
.format-topcoll .nav-tabs > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px; 
    bottom: -1px;
    /*    transition: all 250ms ease 0s;*/
    /*transform: scale(0);*/
}
.format-topcoll .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}
/*.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }*/
.tab-pane {
    padding: 0;
}

.card .tab-content {
    padding: 5px 10px;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.format-topcoll .section .side.left {
    float: left;
}

.format-topcoll .section .side.right {
    float: right;
}

.format-topcoll .nav-tabs > li > a {
    border-radius: 0px !important;
    border: none !important;
}

.format-topcoll .nav-tabs>li.active>a, .format-topcoll .nav-tabs>li.active>a:hover {
    border: none !important;
}

.card ul.nav-tabs  > li > a {
    padding: 10px 10px;
    font-family: Roboto Regular !important;
    font-size: 15px;
    color: #3c3c3c;
}

.format-topcoll .left .cps_centre {
    font-size: 20px !important;
    font-weight: bold;
}
.format-topcoll .course-content ul.section {
    padding-left: 0px;
}

.format-topcoll .course-content ul.ctopics li.section.main .content,
.format-topcoll .course-content ul.ctopics li.tcsection .content {
    margin: 0px 10px !important;   
}
li[role="presentation"] a {
    font-family: Roboto Regular !important;
}
.nav-tabs {
    border-bottom: 1px dotted #ddd !important;
}

.card .nav-tabs li.active {
    background-color: #FFFFFF !important;
}
.card .nav-tabs li.active a[role="tab"] {
    background: none !important;
    color: #212121 !important;
    border-bottom: 2px solid #d14130 !important;
    -webkit-transition: initial;
    font-family: Roboto Medium !important;

}

.card .nav > li > a:hover {
    background: none !important;
    color: #555555 !important;
}
div.tab-pane li .content .sectionhead h3 {
    margin: 0em !important;
}
div.tools a {
    padding: 4px !important;
}

.singlesection {
    float: left;
    width: 100% !important;
}

/* Added by Shiuli. */ 
.singlesection .sectionhead .fa-chevron-down:before {
    content: '';
}

#page-course-view-topcoll img.icon {
    padding: 0 0 4px 0;
}

.format-topcoll .section .side.right a {
    display: block !important;
}

.format-topcoll .CName {
    font-size: 22px;
    color: #000000;
}

.format-topcoll .instructName {
    font-size: 18px;
    color: #000000;
}

.format-topcoll .teacherul {
    margin-left: 0 !important;
    margin-bottom: 1%;
    font-size: 14px;
}

.format-topcoll .teacherul img {
    border-radius: 50% !important;
    width: 60px;
    height: 60px;
}

.card ul.nav-tabs {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -moz-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    text-align: center;
    float:left !important;
    width: 100%;
}

.LnewsHead {
    border-top: 1px solid;
    padding-top: 2%;
    border-top-style: dashed;
    margin-top: 0;
    margin-left: 2%;
}


.card .nav-tabs {
    background-color: #f2f2f2;
}

.format-topcoll .course-content ul.ctopics li .content .sectionhead h3,
.format-topcoll div.tab-pane li .content .sectionhead h3 {
    font-size: 18px;
    font-family: Roboto Regular !important;
}

.format-topcoll .sectionbody .summary {
    font-family: Roboto Regular !important;
}

.format-topcoll .CourseToggle {
    padding: 5px 10px 5px 0px
}
.format-topcoll .tcsection .left {
    float: left;
}
.format-topcoll .tcsection .right {
    float: right;
}

.format-topcoll .sectionbody .topcoll-display-instructions {
    padding-left: 10px;
}

.format-topcoll .AboutCoursehead, .format-topcoll .secsummaryhead {
    margin-bottom: 3px;
    font-size: 17px;
    color: #000000;
}
.format-topcoll .AboutCourse, .format-topcoll .SectionSumm {
    margin-bottom: 7px;
    font-size: 15px;
}

.format-topcoll .course-content ul.ctopics #section-0 .content {
    padding: 0px;
}

.format-topcoll .AllInstruct {
    margin-bottom: 1%;
    float: left;
}

.format-topcoll .content .summary p {
    margin-left: 0;
}

/* Edited by Shiuli on 7th June */
ul.nav-tabs li[role='presentation']:first-child { 
    width: 20%;
}
ul.nav-tabs li[role='presentation']:nth-child(2) { 
    width: 25%;
}
ul.nav-tabs li[role='presentation']:nth-child(3) { 
    width: 25%;
}
ul.nav-tabs li[role='presentation']:nth-child(4) { 
    width: 25%;
}
ul.nav-tabs li[role='presentation']:nth-child(5) { 
    width: 25%;
}
ul.nav-tabs li[role='presentation']:nth-child(6) { 
    width: 23%;
}

.AlwaysShow {
    display: block !important;
}

#fitem_id_hiddensections,#fitem_id_displayinstructions,#fitem_id_layoutelement,
#fitem_id_layoutstructure,#fitem_id_layoutcolumns,#fitem_id_layoutcolumnorientation,
#fitem_id_togglealignment,#fitem_id_toggleiconposition,#fitem_id_toggleiconset,
#fitem_id_toggleallhover,#fitem_id_showsectionsummary {
    
    display: none !important;
}
#id_courseformathdr .fitem_ftext {
     display: none !important;
}
#id_courseformathdr #fitem_id_tabsections {
    display: initial !important;
}

.progreshead {
    font-size: 18px;
    color: #000;
}

.course_progress .progress {
    margin-top: 1%;
    margin-bottom: 1%;
}