.ui-widget-header {
    border: none !important;
    background: transparent !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none !important; 
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important; 
    background: transparent !important;
}
.lead {
    font-size:15px !important;
    font-weight: bold;
}
.viewpost a {
    background: #d95843 !important;
    border:#d95843 !important;
    color: #FFFFFF !important;
}
.newthread {
    padding: 7px !important;
    margin: 10px 5px;
    background: #d95843 !important;
    border:#d95843 !important;
    color: #FFFFFF !important;
    text-shadow: none !important;
}

.bootstrap-dialog.type-primary .modal-header {
    background: #d95843 !important;
}
.bootstrap-dialog-footer-buttons button {
    background: #d95843 !important;
    color: #FFFFFF !important;
     border:#d95843 !important;
}
.font15 {
    font-size :15px !important;
}
.pad3T {
    padding-top: 3% !important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding :10px !important;
    font-family: "Roboto Regular" !important;
}
.edupayertabs {
    padding: 0px !important;
}
/*nihar to add for eduplaer forum*/
.pad8T {
    padding-top: 8% !important;
}
/*.parentpost {
    border: 1px solid #C5C5C5;
    padding: 10px;
    border-left: 3px solid #d95843;
}*/
.parentpost {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.mainthread {
    border: 1px solid #C5C5C5;
    padding: 10px;
    border-left: 3px solid #d95843;
}
/*.subpost {
    border: 1px solid #C5C5C5;
    padding: 10px;
    border-left: 3px solid #5E9666;
}*/
.subpost {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.media-body {
    overflow-wrap: break-word;
}
.ui-widget-content {
    border: 0px !important;
}
.show_textbox {
    margin-left: 11%;
    margin-top: 2%;
}
#replybox {
    width: 86%;
}
.allpost{
    overflow-y: auto;
}
.replybutton {
    background: #d95843 !important;
    border:#d95843 !important;
    color: #FFFFFF !important;
    margin-top: 18px;
    margin-left: 4px;
}
h2.viewalldiscussheader {
    border-bottom: 1px solid #ccc;
    width: 53%;
}
.border1 {
    border: 1px solid #ccc;
}
.forumdiv {
    border: 1px solid #ccc;
    background: whitesmoke ;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    border-bottom: 2px solid #d95843 !important;
}
.media-heading a{
    font-family: "Roboto Regular" !important;
    font-size: 10px!important;
    color: #d95843 !important;
}
.media-body p {
    color: #3C3535 !important;
}
.viewpost img {
    cursor: pointer;
}

.ago {
    color: #3C3535;
    font-size: 13px;
    font-weight: normal;   
}
#searchpost {
        margin: 0px !important;
}
.modal.fade.in {
    top: 30% !important;
}
.viewalldiscussheader,.media-body p, .newthread, .ago  {
    font-family: "Roboto Regular" !important;
}
.ui-tabs .ui-tabs-panel {
    height: 500px !important;
    overflow: auto;
}
.divleft {
    padding-left:24px;
}
.ui-tabs .ui-tabs-nav {

    border-bottom: 1px dotted #A29797 !important;
    border-radius: 0px;
    padding: .2em .2em 9px !important;
}
#ratethis {
    position: relative;
    top: 56px;
    z-index: 1001;
}
  @media screen and (min-width: 350px) and (max-width: 990px) {
     #ratethis {
             top: 3px;
     }
       
 }
#comment-box {
    font-family: Roboto Regular;
    color: #000000;
}
#comment-box:focus {
    border : 1px solid #d95843 !important;
}
textarea#replybox {
    font-family: Roboto Regular;
    color: #000000;
}
textarea#replybox:focus {
    border : 1px solid #d95843 !important;
}
.mainthreadbody {
    width:30% !important;
}
.media>.pull-right {
        margin-left: 0px !important;
}
.commentaction{
    float: left !important;
    line-height: 45px;
    padding-left:5px !important;
    color: #0707EA;
    text-decoration: underline;
    cursor: pointer;
}
.postaction{
    color: #0707EA;
    text-decoration: underline;
    cursor: pointer;
}
#updatebox {
    width: 86%;
}
textarea#updatebox {
    font-family: Roboto Regular;
    color: #000000;
}
textarea#updatebox:focus {
    border : 1px solid #d95843 !important;
}
.updatebutton {
    background: #d95843 !important;
    border:#d95843 !important;
    color: #FFFFFF !important;
    margin-top: 18px;
    margin-left: 2px;
}
.mrg10L {
    margin-left: 10% !important;
}
div[class^='noofpost'],div[class*='noofpost']{
    position: relative;
    top: 18px;
    font-family: "Roboto Regular" !important;
    color: #d95843 !important;
    cursor: pointer;
}