<?php
if ($show_instructions) {
$columns = 'twocolumns';
} else {
$columns = 'onecolumn';
}

if (!empty($CFG->loginpasswordautocomplete)) {
$autocomplete = 'autocomplete="off"';
} else {
$autocomplete = '';
}
if (empty($CFG->authloginviaemail)) {
$strusername = get_string('username');
} else {
$strusername = get_string('usernameemail');
}
?>
<script>
    var page = {baseurl: "<?php echo $CFG->wwwroot ?>"};
</script>
<link rel="stylesheet" href="<?php echo $CFG->wwwroot.'/theme/eduopen/style/jquery-ui.css' ?>">
<script src="<?php echo $CFG->wwwroot.'/theme/eduopen/jquery/jquery-1.10.2.js' ?>"></script>
<script src="<?php echo $CFG->wwwroot.'/theme/eduopen/jquery/jquery-ui.js' ?>"></script>
<link rel="stylesheet" href="<?php echo $CFG->wwwroot.'/login/idpselect.css'?>"/>
<script src="<?php echo $CFG->wwwroot.'/login/idpselect_config.js'?>" type="text/javascript" language="javascript"></script>
<script>
            $(function () {
                $("#tabs").tabs();
            });
</script>
<!--tab nav start-->
<p class="logintablehead"><?php echo get_string('logintable_heading', 'theme_eduopen'); ?></p>
<div class="loginbox clearfix logincont">
    <div class="loginpanel">
        <div id="tabs" class="border-rad0A pad0A">
            <ul class="pad0A border-rad0A">
				<li class="loginpagetab border-rad0A">
                    <a href="#notuniversitymember">
                        <?php print_string('notuniversitymember', 'theme_eduopen'); ?>
                    </a>
                </li>
                <li class="loginpagetab border-rad0A">
                    <a href="#universitymember">
                        <?php print_string('universitymember', 'theme_eduopen'); ?>
                    </a>
                </li>
                <span class="arrowdown"></span>
                
            </ul>
            
            <div id="notuniversitymember" class="pad0A">
                <div class="subcontent loginsub pad0A">
                    <!--<h2>Log in via <span class="textclr">local</span> account</h2>-->
                    <h4 class="logindesc"><?php print_string('logindesc', 'theme_eduopen'); ?></h4>
                    <?php
                    if (!empty($errormsg)) {
                    echo html_writer::start_tag('div', array('class' => 'loginerrors'));
                    echo html_writer::link('#', $errormsg, array('id' => 'loginerrormessage', 'class' => 'accesshide'));
                    echo $OUTPUT->error_text($errormsg);
                    echo html_writer::end_tag('div');
                    }
                    ?>
                    <form action="<?php echo $CFG->httpswwwroot; ?>/login/index.php" method="post" id="loginform" <?php echo $autocomplete; ?> >
                          <div class="loginform">
                            <!--<h2><strong><?php print_string('eduopenmember','theme_eduopen') ?></strong></h2>-->
                            <div class="form-label"><label for="username"><?php echo($strusername) ?></label></div>
                            <div class="form-input">
                                <input type="text" name="username" id="username" size="15" placeholder= "Username/Email" value="<?php p($frm->username) ?>" />
                            </div>
                        </div>
                        <div class="hrseparator"></div>
                        <div class="loginform">
                            <div class="clearer"><!-- --></div>
                            <div class="form-label"><label for="password"><?php print_string("password") ?></label></div>
                            <div class="form-input">
                                <input type="password" name="password" id="password" size="15"  placeholder = "Password"  value="" <?php echo $autocomplete; ?>/>
                            </div>
                        </div>
                        <div class="clearer"><!-- --></div>
                        <div class="hrseparator"></div>
                        <?php if (isset($CFG->rememberusername) and $CFG->rememberusername == 2) { ?>
                        <div class="rememberpass">
                            <input type="checkbox" name="rememberusername" id="rememberusername" value="1" <?php if ($frm->username) {echo 'checked="checked"';} ?> />
                                   <label for="rememberusername"><?php print_string('rememberusername', 'admin') ?></label>
                        </div>
                        <?php } ?>
                        <div class="clearer"><!-- --></div>
                        <input type="submit" id="loginbtn" value="<?php print_string("loginhead", "theme_eduopen") ?>" />
                               <div class="forgetpass"><a href="forgot_password.php"><?php print_string("forgotten") ?></a></div>
                    </form>

                    <?php if ($CFG->registerauth == 'email') { ?>
                    <!--<h2><strong><?php print_string('noteduopenmember','theme_eduopen'); ?></strong></h2>-->
                    <div class="signupform col-md-12">
                        <form action="signup.php" method="get" id="signup">
                            <div><button type="submit" value="<?php print_string("startsignup") ?>" class="btn btn-danger newlearner"/><?php print_string("registerasnewlearner",'theme_eduopen') ?></button></div>
                        </form>
                    </div>
                    <hr class="horigont">
                    <div class="eduopendeclaration-notuniv"><?php  print_string('eduopendeclaration', 'theme_eduopen'); ?></div>
                    <?php } else if(!empty($CFG->registerauth)){ ?>
                    <div class="signupform col-md-12">
                        <form action="signup.php" method="get" id="signup">
                            <div><button type="submit" value="<?php print_string("startsignup") ?>" class="btn btn-danger newlearner"/><?php print_string("registerasnewlearner",'theme_eduopen') ?></button>></div>
                        </form>
                    </div>
                    <div class="eduopendeclaration-notuniv"><?php  print_string('eduopendeclaration', 'theme_eduopen'); ?></div>
                    <?php  } ?>

                    <?php if (!empty($potentialidps)) { ?>
                    <div class="subcontent potentialidps">
                        <h6><?php print_string('potentialidps', 'auth'); ?></h6>
                        <div class="potentialidplist">
                            <?php foreach ($potentialidps as $idp) {
                            echo  '<div class="potentialidp"><a href="' . $idp['url']->out() . '" title="' . $idp['name'] . '">' . $OUTPUT->render($idp['icon'], $idp['name']) . $idp['name'] . '</a></div>';
                            } ?>
                        </div>
                    </div>
                    <?php } ?>
                </div>
            </div>
			
			<div id="universitymember">
                <?php if ($show_instructions) { ?>
                <div class="signuppanel">
                    <div class="edsblock">
                        <div id="idpSelect"></div>
                        <script src="<?php echo $CFG->wwwroot.'/login/idpselect.js'?>" type="text/javascript" language="javascript"></script>
                        <p id="ilogo">
                            <img src="<?php echo $CFG->wwwroot.'/login/edugain-prod.png' ?>" id="edugain">
                            <img src="<?php echo $CFG->wwwroot.'/login/idem-prod.png' ?>" id="idem">
                           

                        </p>
                        <span class="hline"><hr class="hlineborder"></span>
                        <div class="eduopendeclaration"><?php  print_string('eduopendeclaration', 'theme_eduopen'); ?></div>
                    </div>
                </div>
                <?php } ?>
            </div>
		
        </div>
    </div>
</div>

<style>
    .loginsub .textclr {
        color: #02b187 !important;
    }
    .signuppanel .textclr {
        color: #02b187 !important;
    }
    #idpSelectPreferredIdPTile {
        position: inherit !important;
        width:100% !important;
    }
    #idpSelectIdPSelector {
        width:auto !important;
    }
    div.IdPSelectTextDiv {
        font-size: 16px;
        text-align: center;
        font-family: Roboto Regular !important;
    }
    /*div.IdPSelectTextDiv {
        height: 3.5ex;
    }*/
    #idpSelectIdPListTile .IdPSelectTextDiv {
        margin-bottom:4%;
        margin-top:4%;
    }
    #idpSelectInput, #idpSelectSelector {
        float:right;
    }
    .greybackground {
        background: #EAEAEC none repeat scroll 0% 0%;
    }

    #idpSelectInput {
        float: none !important;
        display:table;
        margin:0 auto;
        margin-bottom: 0% !important; 
    }

    #idpSelectSelector {
        float: none !important;
        display:table;
        margin:0 auto;
        margin-bottom: 17% !important; 
        border: 1px solid #D2D8D8 !important;
    }

    /*div#idpSelectIdPEntryTile {
        margin-left: 8%;
        margin-top: 5%;
    }*/

    #idpSelectSelectButton {
        white-space: normal !important;
        font-size: 18px;
        padding: 11px;
        background: #d95843 !important;
        border-radius: 0 !important;
        color: white;
        text-shadow:none !important;
        margin:0px !important;
        width: 100%;
    }
    body.pagelayout-login  #idpSelectSelectButton {
        white-space: normal !important;
        font-size: 18px;
        padding: 11px;
        background: #d95843 !important;
        border-radius: 0 !important;
        color: white;
        text-shadow:none !important;
        margin:0px !important;
        width: 50%;
    }
    body.pagelayout-login #idpSelectListButton {
        white-space: normal;
        left: 0px; 
        margin: 0px auto;
        position: relative !important;
        font-size: 18px;
        padding: 11px;
        background: #d95843 !important;
        border-radius: 0 !important;
        color: white;
        text-shadow: none !important;
        margin: 0px !important;
        width: 50%;
        left : 25% !important;
        top: 34px;
        font-family: Roboto Regular !important;
    }

    #idpSelectListButton {
        white-space: normal;
        left: 0px; 
        margin: 0px auto;
        position: relative !important;
        font-size: 18px;
        padding: 11px;
        background: #d95843 !important;
        border-radius: 0 !important;
        color: white;
        text-shadow: none !important;
        margin: 0px !important;
        width: 100%;
        left : 0% !important;
        top:41px;
        font-family: Roboto Regular !important;
    }
    #idpSelectIdPListTile form {
        margin-top:0px !important;
    }
    .subcontent {
        padding-top: 0px !important;
    }
    form#login {
        padding-top: 6%;
    }
    .newlearner {
        width:95% !important;
    }
    img#edugain {
        border-radius: 0 !important;
        width:80px;
    }
    img#idem {
        border-radius: 0 !important;
        width:80px;
    }
    p#ilogo {
        text-align: center;
    }
    .ui-widget-header {
        border:none !important;
    }
    a.IdPSelectDropDownToggle {
        /*position: absolute !important;*/
        text-align: center;
        color: gray;
        margin-top: 4%;
        font-size: 16px !important;
        line-height: 15px !important;
        font-family : Roboto Regular !important;
    }

    div.forgetpass a {
        font-family : Roboto Regular !important;
    }
    @media screen and (max-width: 258px) {

    }
    @media screen and (min-width: 300px) and (max-width: 330px) {
        .loginpanel >.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
            font-size:10px;
        }
        .loginpanel >.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
            font-size:10px;
        }
        #idpSelectSelector {
            margin-bottom: 12% !important;
        }
    }
    @media screen and (min-width: 331px) and (max-width: 431px) {
        .loginpanel >.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
            font-size:16px;
        }
        .loginpanel >.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
            font-size:16px;
        }
        #idpSelectSelector {
            margin-bottom: 12% !important;
        }
    }
    @media screen and (min-width: 432px) and (max-width: 991px) {
        .loginpanel >.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
            font-size:21px;
        }
        .loginpanel >.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
            font-size:15px;
        }
        #idpSelectSelector {
            margin-bottom: 12% !important;
        }
    }
    @media screen and (max-width: 991px) {
        .subcontent.loginsub {
            border-right: none !important;
        }
    }

</style>