h1 {
    margin-bottom: 20px;
}

#logbutton {

}

div.inst{
    border-left:1px solid #B6B6B4;
}

div.edsblock a:link {
    text-decoration: none;
}

div.edsblock a:visited {
    text-decoration: none;
}

div.edsblock a:hover {
    text-decoration: underline;
}

input.white {
    border: 1px solid white;
    width: 180px;
}

p.smalltit, div.idpSelectPreferredIdPTile div.IdPSelectTextDiv {
    font-size: 15px !important;
    font-weight: bold;
}
p.edslabel {
font-size: 15px;
}

input[id="idpSelectSelectButton"]{
       margin: 0 0 -11px -8px !important;
}
input[type="text"], input[type="password"]  {
    height: 25px!important;
}
div.IdPSelectTextDiv {
    height: 21px !important;
}

.newlearner1 {
    background-color: #DA3700 !important;
    border-color: #DA3700 !important;
    margin-bottom: 0px !important;
    width: 96%;
    font-size: 15px;
    margin-left: 14px;
    height: 45px;
    line-height: 5px;
    border-radius: 0 !important;
}

/* css updated by shiuli for responsiveness */
div.edsblock {
    float: left;
    padding-left: 18px;
    padding-right: 5px;
    width: 100%;
    height: auto;
}

#idpSelectListButton {
    /*position: absolute;*/
    bottom: 0px;
    border-radius: 0;
    font-size: 15px;
    /*width: ;*/
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 1px;
    background-color: #02b187 !important;
    color: white !important;
    margin-left: 0px;
    left: 0px;
    background-image : none !important;
    padding: 15px;
    text-shadow : none !important;
    margin-left:2%;
}

input.gobutton {
    /*position: absolute;*/
    bottom: 0px;
    border-radius: 0;
    font-size: 15px;
    /*width: ;*/
    width: 95%;
    text-align: center;
    height: 40px;
    line-height: 1px;
    background-color: #02b187 !important;
    color: white !important;
    margin-left: 0px;
    left: 0px;
    background-image : none !important;
    padding: 15px;
    text-shadow : none !important;
}

#local {
    /*position: relative;*/
    margin-top: 0 !important;
    /* width: 100%;
    left: 0 !important;
    font-size: 18px !important; */
}
input[id="local"]{
    margin: 0 !important;
}

input[type="text"], input[type="password"] {
    width: 93%;
}

.remme {
    margin-bottom: 0 !important;
}

input#check{
    left: 0px;
    margin-top: 0 !important;
}

#login {
    display: none;
    position: absolute;
    top: 112px;
    right: -1px;
    border: 1px solid black;
    width: 46%;
    background: #EAEAEC none repeat scroll 0% 0%;
    padding: 10px;
    height: auto;
    z-index: 2000;
}

.login-register {
    margin-bottom: 0px !important;
    width: 100%;
    vertical-align: middle !important;
    text-align: center;
    margin-top: 1% !important;
}

input#idpSelectSelectButton{
    position: absolute;
    bottom: 15px;
    border-radius: 0;
    font-size: 15px;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 1px;
    background-color: #02b187 !important;
    color: white;
    margin-left: 0px;
    padding: 15px;
    text-shadow :none !important;
}


p#ilogo {
    text-align: center;
    margin-bottom: 0 !important;
}
a.IdPSelectDropDownToggle {
    text-align: center;
    color: gray;
}
img#edugain {
    border-radius: 0 !important;
    width:80px;
}
img#idem {
    border-radius: 0 !important;
    width:73px;
}

/* Media Query */
@media screen and (max-width: 700px) {
    #login {
        right: 29px;
        width: 82%;
    }
    #idpSelectSelectButton {
        top: 50px !important;
    }
    .instselect {
        height: auto !important;
    }
    /*.IdPSelectDropDownToggle {
        margin-top: 6%;
    }*/
    #idpSelectListButton {
		margin-bottom: -89px !important;
		margin-top: 5% !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1135px) {
    #login {
        width: 58%;
        right: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
#idpSelectPreferredIdPTile {
       top: -145px !important;
       left: -216px !important;
    }
}

@media screen and (max-width: 767px) {
#idpSelectPreferredIdPTile {
       top: -345px !important;
       left: -3px !important;
    }
}

@media screen and (min-width: 701px) and (max-width: 767px) {
	.login-register {
       margin-top: 26% !important;
    }
}

@media screen and (max-width: 767px) {
	div.inst {
    	border-left: none !important;
    	margin-top: 5% !important;
    }
    .newlearner1 {
    	margin-left: 0px !important;
    }
}

@media screen and (max-width: 390px) {
	.login-register {
		margin-top: 20% !important;
	}
}

@media screen and (min-width: 390px) and (max-width: 700px) {
	.login-register {
		margin-top: 15% !important;
	}
}

.edsblock .smalltit .texthead {
    color: #02b187 !important;
}
