.blcontent {
	text-align: center;
}
/* 
.redbtn {
	background-color: #C53535;
	color: #FFF;
} */

.block_selfchecklist .content  .redbtn {
    background: #D95843 !important;
	text-shadow: none !important;
	background-image: none !important;
	color: #FFFFFF !important;
	font-weight: 600 !important;
	border-color: transparent !important;
	border-radius: 0 !important;
}

.block_selfchecklist  .content  .redbtn:hover {
	text-decoration: none !important;
	text-shadow: none !important;
	color: #fff !important;
	background-color: #dc3219 !important;
	box-shadow: none;
	border-color: transparent !important;
}