/**
 * Lesson Automation block stylesheet.
 *
 * @package    block_edupayments
 * @author	   Pratim Sarangi <Moodle Of India>
 * @copyright  Moodle Of India <http://www.moodleofindia.com>
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

.actionform {
   margin: 10px 0px; 
}

.mr5px{
    margin-top: 5px;
}
.row-divider {
    margin: 5px 0 7px !important;
}

.coupon-action-btn {
    width: 146px;
}

.discount-amount{
    color:#DE0909;
}
.promocode-box .alert {
    margin-bottom: 0px !important;
    padding: 7px 10px;
}

.promocode-box .alert .alert{
    margin-bottom: 0px !important;
}
.promocode-box button {
    padding: 5px 13px 4px;
}
#coupon-response .alert{
    padding: 8px 10px !important;
    margin: 9px 0px 0px !important;
}
.searchul{
background-color: #FFF;
border-left: 1px solid #CCC;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
margin-left: 0px;
margin-top: -10px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
position: absolute;

}
.searchli{
list-style:none;
padding: 5px;
margin-top: 5px;
margin-bottom: 5px;
}
.searchli:hover{
cursor:pointer;
background:rgba(82, 168, 236, 0.8);
}

.success {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.errormessage{
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}