/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2015, 5:06:51 AM
    Author     : shambhu
*/

@media screen and (min-width: 1200px) {
    .newsletterform  .editor_atto_wrap{
        margin-left: 265px;
    }
}
@media screen and (max-width: 1199px) {
    .newsletterform .editor_atto_wrap{
        float: left;
        width: 100%;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media (min-width: 300px) and (max-width: 1300px) {
      #id_newslettersection div.fcontainer {
   margin-left:-0%;
}
#id_newsletteremailsection div.fcontainer {
   margin-left:-0%;
}
}

.accordion-newsletter .accordion-group{
    margin-bottom: 9px;
}
.mail-btn{
    background-image: none !important;
    background-color: #F5F5F5 !important;
    color: #574F4F !important;
    margin: 0px 0px 0px 5px;
}
#ajax-response > .alert .close {
    position: relative;
    top: -2px;
    right: -100px;
    line-height: 23px;
}
select[name="courseid[]"] {
    width: 100% !important;
    word-wrap: break-word !important;
}
.viewdomain {
    color:#1717D6;
}
.viewdomain:hover {
    color:#1717D6;
    text-decoration: underline;
}
.viewnewsletter {
    color:#1717D6;
}
.viewnewsletter:hover {
    color:#1717D6;
    text-decoration: underline;
}
a.label.label-error.editbutton{
    display: -webkit-inline-box !important;
}
.editbutton {
    background: #d95843 !important;
    border: #d95843 !important;
    color: #FFFFFF !important;
    text-shadow: none !important;
    margin-bottom: 4px !important;
}
.mail-btn{
    margin-bottom: 4px !important;
}
#page-local-newsletter-add_domain table.generaltable {
     margin-bottom: 2% !important;
}

