@charset "UTF-8";

@font-face {
  font-family: 'Roboto Condensed'; 
  font-weight: 400;
  font-style: normal;
  src: url('[[fonts:theme|Railway.otf]]');
}


/* Normal */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: url('[[font:theme|Roboto-Condensed.ttf]]');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	src: url('[[font:theme|Roboto-CondensedItalic.woff]]');
}

@font-face {
	font-family: "Roboto Medium";
	font-style: normal;
	font-weight: 500;
	src: url('[[font:theme|Roboto-Medium.woff]]');
}
@font-face {
	font-family: "Roboto Regular";
	font-style: normal;
	font-weight: 400;
	src: url('[[font:theme|Roboto-Regular.woff]]');
}
