/* MEDIA CSS BY SHIULI */

/* Added by shiuli on 14th oct */

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .box-shadow, .box-shadow-spz {
        height: 365px;
    }

}
@media screen and (min-width: 1601px) and (max-width: 1920px) {
    .box-shadow, .box-shadow-spz {
        height: 400px;
    }
}
@media screen and (min-width: 1921px) and (max-width: 2048px) {
    .box-shadow, .box-shadow-spz {
        height: 420px;
    }
}
@media screen and (min-width: 2049px) and (max-width: 2560px) {
    .box-shadow, .box-shadow-spz {
        height: 475px;
    }
}
@media screen and (min-width: 2561px) and (max-width: 2795px) {
    .box-shadow, .box-shadow-spz {
        height: 495px;
    }
}
@media screen and (min-width: 2796px) and (max-width: 3500px) {
    .box-shadow, .box-shadow-spz {
        height: 679px;
    }
}
@media screen and (min-width: 3501px) and (max-width: 4500px) {
    .box-shadow, .box-shadow-spz {
        height: 700px;
    }
}
@media screen and (min-width: 4501px) {
    .box-shadow, .box-shadow-spz {
        height: 800px;
    }
}

/* Added by Shiuli on 30th Dec for custom pages */
@media screen and (max-width: 767px) {
    .cmediaqry {
        margin: 112px 0px auto !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1130px) {
    /*    #sidebar {
            margin-top: 2%;
        }
        #page-my-index #sidebar {
            margin-top: 6%;
        }*/
}

/*18th mar css by Shiuli for topnav */

@media screen and (max-width: 454px) {
    .lmenudrop {
        margin-left: 5px !important;
        margin-right: 5px !important;
        width: 45px !important;
    }

    .rightmenu .lmenudrop .dd-container {
        width: 47px !important;
    }
    .dd-select, ul.dd-options {
        width: 53px !important;
    }
    .dd-selected-text {
        font-size: 9px !important;
    }
    .rightmenu .toplistnone #topmenudiv a {
        font-size: 9px !important;
    }
    #topmenudiv img {
        width: 20px !important;
        height: 20px !important;
        margin-top: 5px !important;
    }

    .dd-select .dd-option-image {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 16px !important;
        height: 16px !important;
        margin-top: 11px !important;
    }
    .rightmenu .toplistnone {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* 18th mar css for catalog page */
@media screen and (max-width: 767px) {
    .catalogmd {
        margin: 110px -16px auto !important;
    }
}
@media screen and (max-width: 890px) {
   div.toggleblockdiv .singlebutton {
            display: initial;
            float: none;
}
div.toggleblockdiv .singlebutton form{
      float: none;
}
}
@media screen and (max-width: 361px) {
    .list-inline > li {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .frontpagebody #homepage {
        margin-top: 31%;
    }
}

@media screen and (max-width: 464px) {
 #frontrowpad {
        padding: 0 !important;
    }
}
@media screen and (max-width: 417px) {
    .textcenter {
        padding: 5px !important;
    }
    .textcenter .course-date-btn, .textcenter .box-shadow .course-details, #f_inst {
        padding: 0px 5px !important;
    }
    .special_imgs .box-shadow-spz{
        margin: 5px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 849px) {
    .catalogpagebody .textcenter {
        padding: 5px !important;
    }
    .catalogpagebody .textcenter .course-date-btn, .catalogpagebody .textcenter .box-shadow .course-details, .catalogpagebody #f_inst {
        padding: 0px 5px !important;
    }
    .catalogpagebody .special_imgs .box-shadow-spz{
        margin: 5px !important;
    }
}


@media screen and (max-width: 454px) {
    .dd-option {
        padding: 0 !important;
    }
    .dd-option-image {
        margin-right: 0 !important;
    }
    .dd-option-text {
        font-size: 10px !important;
    }
}

/*@media screen and (max-width: 510px) {
    .dashpage {
        margin-top: 35% !important;
    }
}

@media screen and (min-width: 511px) and (max-width: 690px) {
    .dashpage {
        margin-top: 25% !important;
    }
}

@media screen and (min-width: 691px) and (max-width: 767px) {
    .dashpage {
        margin-top: 4% !important;
    }
}*/

@media screen and (max-width: 424px) {
.textcenter .course-date-btn .cstarts {
    font-size: 12px !important;
}
.textcenter .course-date-btn {
    line-height: 14px !important;
}
}

@media screen and (max-width: 370px) {
	.front_cimg1 {
		height: 137px;
	}
	/* dashboard page */
	.ui-tabs-panel .front_cimg1 {
		height: 148px !important;
	}
	
}

@media screen and (min-width: 425px) and (max-width: 523px) {
	.textcenter .course-date-btn {
		line-height: 17px !important;
	}
}


@media screen and (max-width: 383px) {
    .top-nav li a span, .dd-selected-text, .top-nav li a .fa  {
        font-size: 9px !important;
    }
}

@media screen and (min-width: 320px)  and (max-width: 561px) {
    .top-nav li a span, .dd-selected-text, .top-nav li a .fa  {
        font-size: 9px !important;
    }
  
}

@media screen and (min-width: 562px)  and (max-width: 651px) {
    .top-nav li a span, .dd-selected-text, .top-nav li a .fa  {
        font-size: 10px !important;
    }
}


/* Media query for catalog page course box. */

@media screen and (min-width: 767px) and (max-width: 800px) {
	.catalogpagebody .front_cimg1 {
		height: 139px;
	}
	.catalogpagebody .textcenter .course-date-btn {
		line-height: 15px;
	}
}

@media screen and (max-width: 768px) {
    .rightmenu .lmenudrop {
        width: auto !important;
    }
	#page-content .resp-tab-active {
		border-left: 1px solid #D95843 !important;
		border-right: 1px solid #D95843 !important;
		border-top : 4px solid #D95843 !important;
	}
}


@media screen and (max-width: 980px) {
    .resp-tabs-list .cname{
        padding-left: 17% !important;
    }
}

@media screen and (max-width: 800px) {
    .resp-tabs-list .cname{
        padding-left: 23% !important;
    }
}

@media screen and (min-width: 461px) and (max-width: 768px) {
    .resp-tabs-container .cname{
        padding-left: 10% !important;
        padding-top: 3px !important;
    }
}

@media screen and (max-width: 460px) {
    .resp-tabs-container .cname{
        padding-left: 18% !important;
        padding-top: 3px !important;
    }
}

@media screen and (max-width: 450px) {
    .catalogpagebody .getheight {
        padding-left: 5px !important;
		padding-right: 5px !important;
    }
}

@media screen and (max-width: 379px) {
    #coursefilter a, #pathwayfilter a {
        font-size: 10px !important;
    }
}
@media screen and (min-width: 380px) and (max-width: 483px) {
    #coursefilter a, #pathwayfilter a {
        font-size: 13px !important;
    }
}
@media screen and (min-width: 484px) and (max-width: 619px) {
    #coursefilter a, #pathwayfilter a {
        font-size: 20px !important;
    }
}

@media screen and (min-width: 768px) {
    .navbar-collapse.collapse {
        float: right !important;
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
        -webkit-box-pack: center !important;
        -moz-box-pack: center !important;
        -ms-flex-pack: center !important;
        -webkit-justify-content: center !important;
        justify-content: center !important;
        -webkit-box-align: center !important;
        -moz-box-align: center !important;
        -ms-flex-align: center !important;
        -webkit-align-items: center !important;
        align-items: center !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar-collapse.collapse {
        float: left !important;
        height: auto !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
   #page-login-index .brand {
      height: 49px!important;
      padding-top: 11px!important;
      width: 50% !important;
    }
}
@media screen and (min-width: 320px)and (max-width: 430px) {
.loginpanel >.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
     font-size:14px!important;
     line-height:20px!important;
  }
}
@media screen and (min-width: 431px)and (max-width: 519px) {
.loginpanel >.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
     font-size:15px!important;
     line-height:30px!important;
  }
}
@media screen and (max-width: 991px) and (min-width: 520px){
.loginpanel >.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    font-size: 18px!important;
 }
}
@media screen and (min-width: 480px) and (max-width: 520px) {
    #page-login-index .brand {
      height: 45px!important;
      padding-top: 11px!important;
      width: 40% !important;
    }
}

@media screen and (min-width: 521px) and (max-width: 640px) {
    #page-login-index .brand {
      height: 40px!important;
    padding-top: 11px!important;
    width: 34% !important;
    }
}
@media screen and (min-width: 641px) and (max-width: 759px) {
    #page-login-index .brand {
      height: 40px!important;
    padding-top: 11px!important;
    width: 34% !important;
    }
}
@media screen and (min-width: 760px) and (max-width: 1024px) {
    #page-login-index .brand {
      
    }
}
@media screen and (min-width: 1025px) and (max-width: 1300px) {
    #page-login-index .brand {
      
    }
}
@media screen and (max-width: 766px) {
    #instbanimage {
            margin-top: -21px;
    }
}


@media screen and (max-width: 354px) {
    #path_name, .inst_right {
        padding: 0px 6px;
    }
    .inst_right {
        height: 43px;
    }
}
/*#page-login-index .container-fluid>.navbar-header {
    margin: 2px!important;
}*/

@media screen and  (min-width: 420px) and (max-width: 520px) {
   #page-login-index .arrowdown{
    left: 100px!important;
    top: 39px!important;
 }
}
@media screen and  (min-width: 380px) and (max-width: 419px) {
   #page-login-index .arrowdown{
    left: 75px!important;
    top: 40px!important;
 }
}
@media screen and  (min-width: 320px) and (max-width: 379px) {
   #page-login-index .arrowdown{
    left: 60px!important;
    top: 40px!important;
 }
}



/* Media Query for Main Menu by Shiuli */ 
@media screen and (max-width: 767px) {
    .AdminUserView {
        height: 480px;
        overflow: scroll;
    }
    
    .TeacherUserView {
        height: 430px;
        overflow: scroll;
    }
    
    .StudentUserView {
        height: 280px;
        overflow: scroll;
    }
    
    #sub_menu_register:hover #sbmemu{
        display: none;
    } 
    .dropdown-submenu:hover > .dropdown-menu {
        display: none;
    }

    #sub_menu_register ul {
        padding-left: 0 !important; 
    }

    #sbmemu > li > a {
        font-family: Roboto Regular !important;
        font-size: 13px !important;
    }
    .sbmemuhide, .sbmemushide {
        display: none;
    }
    .sbmemushow, .sbmemusshow {
        display: block !important;
    }

    #sbmemu, #sbmemus {
        position: relative;
    }
    .dropdown-submenu > a::after {
        border: none !important;
    }

}

/* 20th may dashboard css by Shiuli */ 
@media screen and (max-width: 560px) {
    .dashtabs .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
        overflow: scroll;
    }
}