#idpSelectIdPSelector {
	width: 100%;
	text-align: left;
}

div.filler {
	height: 138px;
	border: 1px solid red:
}

div.IdPSelectPreferredIdPButton {
	margin: 3px;
	width: 88px;
	float: left;
}

div.IdPSelectPreferredIdPButton a {
	float: left;
	width: 99%;
}

div.IdPSelectTextDiv {
    height: auto !important;
    color: green;
    font-weight: 200;
    font-size: 15px;
    line-height: 1;
}

#idpSelectIdPEntryTile .IdPSelectTextDiv {
    color: #000000;
    line-height: 30px !important;
}

div.IdPSelectPreferredIdPImg {
	height: 69px;
	margin: 2px;
	width:auto !important;
}

div.IdPSelectPreferredIdPImg img {
	width:auto !important;
}

div.IdPSelectPreferredIdPButton img {
	display: block;
	max-width:  114px;
	max-height: 64px;
	margin-top: 3px;
	margin-bottom: 3px;
	border: solid 0px #000000;
	margin-left: auto;
	margin-right: auto;
}

div.IdPSelectPreferredIdPButton div.IdPSelectTextDiv {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	max-width: 95%;
	height: 30px;
}

#idpSelectSelector {
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid white;
	background-color: white;
}

a.IdPSelectDropDownToggle {
	display: inline-block;
	width: 100%;
}

a.IdPSelectHelpButton {
	display: inline-block;
	text-align: right;
	width: 20%;
}

div.IdPSelectDropDown {
	-moz-box-sizing: border-box;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	box-sizing: border-box;
	border: 1px solid black;
	position: relative;
	width: 250px;
}

div.IdPSelectDropDown div {
	background-color: white;
	cursor: default;
	padding: 0px 3px;
}

div.IdPSelectDropDown div.IdPSelectCurrent {
	background-color: #3366cc;
	color: white;
}

/* Added by Shiuli */
.IdPSelectDropDown {
    left: 941px !important;
    top: 177px !important;
    height: auto;
    z-index: 10000 !important;
    position: fixed !important;
    border: 1px solid transparent !important;
}

#idpSelect form input[name="entityID"] {
    word-wrap: break- word;
    width: 50px;
}

input#idpSelectSelectButton, input#idpSelectSelectButton:hover {
    background-position: initial !important;
    background-image: none !important;
}

#idpSelectSelector {
    color: rgb(141, 139, 139);
}

#idpSelectIdPListTile form {
	margin-top: 2% !important;
}

.edsblock p.smalltit {
    margin-bottom: 3% !important;
    line-height: 16px !important;
    height: 28px !important;
}
a.IdPSelectHelpButton {
    display:none;
}

#idpSelectIdPListTile .IdPSelectTextDiv {
    color: #000000;
}

/* css updated by shiuli for responsiveness */
body.pagelayout-login #idpSelectSelectButton {
    top: 106px;
    position: relative !important;
	font-family: Roboto condensed !important;
}
#idpSelectSelectButton {
    top: 40px;
    position: relative !important;
}
#idpSelectSelectButton {
    left: 0%;
}
#idpSelectListButton {
    left: 253px;
    margin: 61px auto;
    margin-top: 40px;
    margin-bottom: 0;
    /*white-space: normal !important;*/
}

.instselect {
	height: 30px;
}

#idpSelectInput, #idpSelectSelector {
	width: 100%;
}


#idpSelectPreferredIdPTile {
	left: -228px;
    top: -143px;
	height: 138px;
	width: 192%;
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	color: white;
	border-bottom: 1px solid #B6B6B4;
}
#idpSelectIdPSelector {
	width: 100%;
	text-align: left;
}

div.filler {
	height: 138px;
	border: 1px solid red:
}

div.IdPSelectPreferredIdPButton {
	margin: 3px;
	width: 85px;
	float: left;
}

div.IdPSelectPreferredIdPButton a {
	float: left;
	width: 99%;
}

/*Added by Shiuli on 29dec */
@media screen and (max-width: 320px) {
	.IdPSelectDropDown {
		left: 90px !important;
		top: 25px !important;
	}
	div.IdPSelectPreferredIdPButton {
		width: 60px;
	}
	#idpSelectPreferredIdPTile {
		width: 98%;
	}
}
@media screen and (max-width: 321px) and (max-width: 359px) {
	.IdPSelectDropDown {
		left: 90px !important;
		top: 235px !important;
	}
	div.IdPSelectPreferredIdPButton {
		width: 60px;
	}
	#idpSelectPreferredIdPTile {
		width: 94%;
	}
}
@media screen and (min-width: 360px) and (max-width: 767px) {
	.IdPSelectDropDown {
		left: 0px !important;
		top: 435px !important;
	}
	#idpSelectPreferredIdPTile {
		width: 94%;
	}
	div.IdPSelectPreferredIdPButton {
		width: 70px;
	}
}
@media screen and (min-width: 768px) and (max-width: 980px) {
	.IdPSelectDropDown {
		left: 157px !important;
		top: 682px !important;
	}
	#idpSelectPreferredIdPTile {
		width: 180%;
	}
}
@media screen and (min-width: 980px) and (max-width: 1280px) {
	.#idpSelectPreferredIdPTile {
		left: -256px !important;
	}
}


@media screen and (min-width: 1601px) and (max-width: 1920px) {
    .#idpSelectPreferredIdPTile {
		left: -317px !important;
	}
}
@media screen and (min-width: 1921px) and (max-width: 2048px) {
    #idpSelectPreferredIdPTile {
		left: -341px !important;
	}
}
@media screen and (min-width: 2049px) and (max-width: 2560px) {
    #idpSelectPreferredIdPTile {
		left: -432px !important;
	}
}
@media screen and (min-width: 2561px) and (max-width: 2795px) {
    #idpSelectPreferredIdPTile {
		left: -475px !important;
	}
}