<?php
if ($show_instructions) {
$columns = 'twocolumns';
} else {
$columns = 'onecolumn';
}

if (!empty($CFG->loginpasswordautocomplete)) {
$autocomplete = 'autocomplete="off"';
} else {
$autocomplete = '';
}
if (empty($CFG->authloginviaemail)) {
$strusername = get_string('username');
} else {
$strusername = get_string('usernameemail');
}
?>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="<?php echo $CFG->wwwroot.'/login/idpselect.css'?>"/>
<script src="<?php echo $CFG->wwwroot.'/login/idpselect_config.js'?>" type="text/javascript" language="javascript"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
<!--tab nav start-->
<div class="loginbox clearfix logincont">
    <div class="loginpanel">
        <div id="tabs" class="border-rad0A pad0A">
            <ul class="pad0A border-rad0A">
                <li class="loginpagetab border-rad0A"><a href="#universitymember"><?php print_string('universitymember', 'theme_eduopen'); ?></a></li>
                <li class="loginpagetab border-rad0A"><a href="#notuniversitymember"><?php print_string('notuniversitymember', 'theme_eduopen'); ?></a></li>
            </ul>
            <div id="universitymember">
                <?php if ($show_instructions) { ?>
                <div class="signuppanel">
                    <div class="edsblock">
                        <div id="idpSelect"></div>
                        <script src="<?php echo $CFG->wwwroot.'/login/idpselect.js'?>" type="text/javascript" language="javascript"></script>
                        <p id="ilogo">
                            <img src="<?php echo $CFG->wwwroot.'/login/idem-prod.png' ?>" id="idem">
                            <img src="<?php echo $CFG->wwwroot.'/login/edugain-prod.png' ?>" id="edugain">

                        </p>
                        <span class="hline"><hr /></span>
                    </div>
                </div>
                <?php } ?>
            </div>
            <div id="notuniversitymember" class="pad0A">
                <div class="subcontent loginsub pad0A">
                    <!--<h2>Log in via <span class="textclr">local</span> account</h2>-->
                    <h4 class="logindesc"><?php print_string('logindesc', 'theme_eduopen'); ?></h4>
                    <?php
                    if (!empty($errormsg)) {
                    echo html_writer::start_tag('div', array('class' => 'loginerrors'));
                    echo html_writer::link('#', $errormsg, array('id' => 'loginerrormessage', 'class' => 'accesshide'));
                    echo $OUTPUT->error_text($errormsg);
                    echo html_writer::end_tag('div');
                    }
                    ?>
                    <form action="<?php echo $CFG->httpswwwroot; ?>/login/index.php" method="post" id="loginform" <?php echo $autocomplete; ?> >
                          <div class="loginform">
                            <!--<h2><strong><?php print_string('eduopenmember','theme_eduopen') ?></strong></h2>-->
                            <div class="form-label"><label for="username"><?php echo($strusername) ?></label></div>
                            <div class="form-input">
                                <input type="text" name="username" id="username" size="15" value="<?php p($frm->username) ?>" />
                            </div>
                        </div>
                        <div class="hrseparator"></div>
                        <div class="loginform">
                            <div class="clearer"><!-- --></div>
                            <div class="form-label"><label for="password"><?php print_string("password") ?></label></div>
                            <div class="form-input">
                                <input type="password" name="password" id="password" size="15" value="" <?php echo $autocomplete; ?> />
                            </div>
                        </div>
                        <div class="clearer"><!-- --></div>
                        <div class="hrseparator"></div>
                        <?php if (isset($CFG->rememberusername) and $CFG->rememberusername == 2) { ?>
                        <div class="rememberpass">
                            <input type="checkbox" name="rememberusername" id="rememberusername" value="1" <?php if ($frm->username) {echo 'checked="checked"';} ?> />
                                   <label for="rememberusername"><?php print_string('rememberusername', 'admin') ?></label>
                        </div>
                        <?php } ?>
                        <div class="clearer"><!-- --></div>
                        <input type="submit" id="loginbtn" value="<?php print_string("loginhead", "theme_eduopen") ?>" />
                               <div class="forgetpass"><a href="forgot_password.php"><?php print_string("forgotten") ?></a></div>
                    </form>

                    <?php if ($CFG->registerauth == 'email') { ?>
                    <!--<h2><strong><?php print_string('noteduopenmember','theme_eduopen'); ?></strong></h2>-->
                    <div class="signupform col-md-12">
                        <form action="signup.php" method="get" id="signup">
                            <div><button type="submit" value="<?php print_string("startsignup") ?>" class="btn btn-danger newlearner"/><?php print_string("registerasnewlearner",'theme_eduopen') ?></button></div>
                        </form>
                    </div>
                    <?php } else if(!empty($CFG->registerauth)){ ?>
                    <div class="signupform col-md-12">
                        <form action="signup.php" method="get" id="signup">
                            <div><button type="submit" value="<?php print_string("startsignup") ?>" class="btn btn-danger newlearner"/><?php print_string("registerasnewlearner",'theme_eduopen') ?></button>></div>
                        </form>
                    </div>
                    <?php  } ?>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var page ={baseurl:"<?php echo $CFG->wwwroot ?>"};
</script>
<style>
    .loginsub .textclr {
        color: #02b187 !important;
    }
    .signuppanel .textclr {
        color: #02b187 !important;
    }
    #idpSelectPreferredIdPTile {
        position: inherit !important;
        width:100% !important;
    }
    #idpSelectIdPSelector {
        width:auto !important;
    }
    div.IdPSelectTextDiv {
        font-size: 15px;
        text-align: center;
    }
    /*div.IdPSelectTextDiv {
        height: 3.5ex;
    }*/
    #idpSelectIdPListTile .IdPSelectTextDiv {
        margin-bottom:2%;
    }
    #idpSelectInput, #idpSelectSelector {
        float:right;
    }
    .greybackground {
        background: #EAEAEC none repeat scroll 0% 0%;
    }

    #idpSelectInput {
        float: none !important;
        display:table;
        margin:0 auto;
        margin-bottom: 0% !important; 
    }

    #idpSelectSelector {
        float: none !important;
        display:table;
        margin:0 auto;
        margin-bottom: 14% !important; 
        border: 1px solid #D2D8D8 !important;
    }

    /*div#idpSelectIdPEntryTile {
        margin-left: 8%;
        margin-top: 5%;
    }*/

    #idpSelectSelectButton {
        white-space: normal !important;
        font-size: 14px;
        padding: 11px;
        background: #02b187 !important;
        border-radius: 0 !important;
        color: white;
        text-shadow:none !important;
        margin:0px !important;
        width: 100%;
        text-transform: uppercase;
    }
    #idpSelectListButton {
        white-space: normal;
        left: 0px; 
        margin: 0px auto;
        float: left;
        position: relative !important;
        font-size: 18px;
        padding: 11px;
        background: #02b187 !important;
        border-radius: 0 !important;
        color: white;
        text-shadow: none !important;
        margin: 0px !important;
        width: 100%;
        left : 0% !important;
        top:67px;
        font-family: Roboto condensed !important;
    }
    #idpSelectIdPListTile form {
        margin-top:0px !important;
    }
    .subcontent {
        padding-top: 0px !important;
    }
    form#login {
        padding-top: 6%;
    }
    .newlearner {
        width:95% !important;
    }
    img#edugain {
        border-radius: 0 !important;
        width:80px;
    }
    img#idem {
        border-radius: 0 !important;
        width:80px;
    }
    p#ilogo {
        text-align: center;
    }
    a.IdPSelectDropDownToggle {
        /*position: absolute !important;*/
        text-align: center;
        color: gray;
        margin-top: 2%;
        font-size: 15px !important;
        line-height: 15px !important;
    }


    @media screen and (max-width: 258px) {
        .loginbox .signupform {
            margin-top: 12em;
        }
    }
    @media screen and (min-width: 259px) and (max-width: 330px) {
        .loginbox .signupform {
            margin-top: 11em;
        }
    } 
    @media screen and (min-width: 331px) and (max-width: 431px) {
        .loginbox .signupform {
            margin-top: 9em;
        }
        #idpSelectSelector {
            margin-bottom: 12% !important;
        }
    }
    @media screen and (min-width: 432px) and (max-width: 991px) {
        .loginbox .signupform {
            margin-top: 7em;
        }
        #idpSelectSelector {
            margin-bottom: 12% !important;
        }
    }
    @media screen and (max-width: 991px) {
        .subcontent.loginsub {
            border-right: none !important;
        }
    }
</style>