.path-mod-collaborate__meetingstatus_times {
    margin: 1em 0;
}

.path-mod-collaborate .activity-title {
    background-image: url([[pix:mod_collaborate|icon]]);
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1.5em;
} 

.modtype_collaborate .activityinstance a {
    margin-right: 0.5em;
}

.path-mod-collaborate .collab-recording-list {
    list-style: none;
}
.path-mod-collaborate .collab-recording-list-item span {
    font-size: smaller;
    margin-left: 1em;
}
.row-fluid [class*="span"] {
min-height:0px !important;
}
.label-info {
display:none !important;
}

.border-dotted{
	border-bottom: 1px solid #EEEEEE;
    border-bottom-style: dotted;
}
.fontvio {
    color: #9C69AD;
}	
