#idpSelectIdPSelector {
	width: 180px;
	text-align: left;
}

div.filler {
	height: 138px;
	border: 1px solid red:
}

#idpSelectPreferredIdPTile {
	height: 138px;
	width: 457px;
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	border-bottom: 1px solid #B6B6B4;
}

div.IdPSelectPreferredIdPButton {
	margin: 3px;
	width: 120px;
	float: left;
}

div.IdPSelectPreferredIdPButton a {
	float: left;
	width: 99%;
}
div.IdPSelectTextDiv {
	height: 3.5ex;
        color: green;
        font-weight: 200;
        font-size: 15px;
}

#idpSelectIdPEntryTile .IdPSelectTextDiv {
        color: #767676;
}

div.IdPSelectPreferredIdPImg {
	height: 69px;
	margin: 2px;
	width:auto !important;
}
div.IdPSelectPreferredIdPImg img {
width:auto !important;
}

div.IdPSelectPreferredIdPButton img {
	display: block;
	max-width:  114px;
	max-height: 64px;
	margin-top: 3px;
	margin-bottom: 3px;
	border: solid 0px #000000;
	margin-left: auto;
	margin-right: auto;
}

div.IdPSelectPreferredIdPButton div.IdPSelectTextDiv {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	max-width: 95%;
	height: 30px;
}

#idpSelectInput, #idpSelectSelector {
	width: 180px;
}

#idpSelectSelector {
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid white;
	background-color: white;
}

a.IdPSelectDropDownToggle {
	display: inline-block;
	width: 100%;
}

a.IdPSelectHelpButton {
	display: inline-block;
	text-align: right;
	width: 20%;
}

div.IdPSelectDropDown {
	-moz-box-sizing: border-box;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	box-sizing: border-box;
	border: 1px solid black;
	z-index: 1001;
	position: relative;
	width: 250px;
}

div.IdPSelectDropDown div {
	background-color: white;
	cursor: default;
	padding: 0px 3px;
}

div.IdPSelectDropDown div.IdPSelectCurrent {
	background-color: #3366cc;
	color: white;
}


/* Added by Shiuli */
.IdPSelectDropDown {
    left: 965px !important;
    top: 163px !important;
    height: auto;
    z-index: 2000 !important;
    position: fixed !important;
    border: 1px solid transparent !important;
}

#idpSelect form input[name="entityID"] {
    word-wrap: break- word;
    width: 50px;
}

input#idpSelectSelectButton, input#idpSelectSelectButton:hover {
    background-position: initial !important;
    background-image: none !important;
}


#idpSelectSelector {
    color: rgb(141, 139, 139);
}

#idpSelectIdPListTile form {
	margin-top: 12% !important;
}

#idpSelectSelectButton {
    top: 82px !important;
    position: relative !important;
    left: 4px !important;
}

#idpSelectListButton {
    left: 253px;
    margin: 38px auto;
}

.edsblock p.smalltit {
    margin-bottom: 3% !important;
    line-height: 16px !important;
    height: 28px !important;
}
a.IdPSelectHelpButton {
    display:none;
}

#idpSelectIdPListTile .IdPSelectTextDiv {
    color: #000000;
}