h1 {
	margin-bottom: 20px;
}

#logbutton {

}

#login {
	display: none;
	position: absolute;
	top: 75px;
	right: 60px;
	border: 1px solid black;
	width: 36%;
	height: 200px;
	background: #EAEAEC none repeat scroll 0% 0%;
	padding: 10px;
	height: 270px;
}

div.edsblock {
	float: left;
	padding-left: 18px;
	padding-right: 5px;
	width: 50%;
	height: 142px;
}
div.inst{
	border-left:1px solid #B6B6B4;
}

div.edsblock a:link {
	text-decoration: none;
}

div.edsblock a:visited {
	text-decoration: none;
}

div.edsblock a:hover {
	text-decoration: underline;
}

input.gobutton, #idpSelectListButton {
        position: absolute;
	bottom: 15px;
	border: 1px solid black;
	border-radius: 3px;
	font-size: 15px;
	width: 180px;
	text-align: center;
	height: 20px;
	line-height: 1px;
	background-color: #058c00 !important;
	color: white !important;
	margin-left: 0px;
	left: 20px;
	background-image : none !important;
	padding: 15px;
	text-shadow : none !important;
}

input#idpSelectSelectButton{
        position: absolute;
        bottom: 15px;
        border: 1px solid black;
        border-radius: 3px;
        font-size: 15px;
        width: 192px;
        text-align: center;
        height: 20px;
        line-height: 1px;
        background-color: #058c00 !important;
        color: white;
        margin-left: 0px;
		right: 4px;
		padding: 15px;
		text-shadow :none !important;
}

input.white {
	border: 1px solid white;
	width: 180px;
}

input#check{
	position: absolute;
	left: 34px;
}

p.smalltit, div.idpSelectPreferredIdPTile div.IdPSelectTextDiv {
	font-size: 15px !important;
	font-weight: bold;
}
p.edslabel {
font-size: 15px;
}
input[id="local"]{
       margin: 0 0 -11px -8px !important;
}
input[id="idpSelectSelectButton"]{
       margin: 0 0 -11px -8px !important;
}
input[type="text"], input[type="password"]  {
    height: 25px!important;
}
div.IdPSelectTextDiv {
    height: 21px !important;
}


.login-register {
    margin-bottom: 0px !important;
    width: 100%;
    vertical-align: middle !important;
    text-align: center;
    margin-top: 16% !important;
}

.newlearner1 {
    background-color: #DA3700 !important;
    border-color: #DA3700 !important;
    margin-bottom: 0px !important;
    width: 96%;
    font-size: 15px;
    margin-left: 14px;
    height: 34px;
    line-height: 5px;
}

#local {
    position: relative;
    margin-top: 5% !important;
    /* width: 100%;
    left: 0 !important;
    font-size: 18px !important; */
}
