/*/**
 * Collapsed Topics Information
 *
 * A topic based format that solves the issue of the 'Scroll of Death' when a course has many topics. All topics
 * except zero have a toggle that displays that topic. One or more topics can be displayed at any given time.
 * Toggles are persistent on a per browser session per course basis but can be made to persist longer by a small
 * code change. Full installation instructions, code adaptions and credits are included in the 'Readme.txt' file.
 *
 * @package    course/format
 * @subpackage eduopen
 * @version    See the value of '$plugin->version' in version.php.
 * @copyright  &copy; 2009-onwards G J Barnard in respect to modifications of standard topics format.
 * @author     G J Barnard - gjbarnard at gmail dot com and {@link http://moodle.org/user/profile.php?id=442195}
 * @link       http://docs.moodle.org/en/Collapsed_Topics_course_format
 * @license    http://www.gnu.org/copyleft/gpl.html GNU Public License
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
.course-content ul.ctopics {
    margin: 0px;
}

.course-content ul.ctlayout {
    display: inline-block;
    vertical-align: top;
}

.course-content ul.ctopics li.section.main, .course-content ul.ctopics li.tcsection {
    list-style: none;
    margin: 4px 1px 1px 1px;
    padding: 0px;
}

/* Fix for ordered and unordered list in course topic summary & course weekly summary - from theme/base/style/core.css
 * See: https://moodle.org/mod/forum/discuss.php?d=251944.
 */
.course-content ul.ctopics .content .summary ul, .course-content ul.ctopics .content .summarytext ul {
    list-style: disc outside none;
}
.course-content ul.ctopics .content .summary ol, .course-content ul.ctopics .content .summarytext ol {
    list-style: decimal outside none;
}

.course-content ul.ctopics li.section.main .content, .course-content ul.ctopics li.tcsection .content {
    margin: 0 0px; /* Override default for tablets / mobiles.  When have sides, set in format.php. */
    padding: 0px;
}

.course-content ul.ctopics li .content .sectionhead h3 {
    margin: 0em;
    font-family: Roboto Regular !important;
    line-height: 20px !imprtant;
}

.course-content ul.ctopics li.current .content .toggledsection {
    padding: 0px 0px 5px 0px;
}

/* Toggle icon size */
#toggle-all .content .sectionbody h4 a.tc-small, .course-content ul.ctopics li.section .content .toggle a.tc-small {
    background-size: 16px 16px;
}

#toggle-all .content .sectionbody h4 a.tc-medium, .course-content ul.ctopics li.section .content .toggle a.tc-medium {
    background-size: 24px 24px;
}
#toggle-all .content .sectionbody h4 a.tc-large, .course-content ul.ctopics li.section .content .toggle a.tc-large {
    background-size: 32px 32px;
}

/* -- Set the clickable element of the Toggle -- */
.course-content ul.ctopics li.section .content .toggle a {
    display: block;
    width: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.course-content ul.ctopics li.section .content .toggle a.tc-small {
    padding-left: 16px; /* The 16px allows the arrow to be with the text next to it. */
    padding-right: 16px;
}

.course-content ul.ctopics li.section .content .toggle a.tc-medium {
    padding-left: 24px; /* The 24px allows the arrow to be with the text next to it. */
    padding-right: 24px;
}

.course-content ul.ctopics li.section .content .toggle a.tc-large {
    padding-left: 32px; /* The 32px allows the arrow to be with the text next to it. */
    padding-right: 32px;
}

body.ie7 .course-content ul.ctopics li.section .content .toggle a {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* CONTRIB-4106 */
.course-content ul.ctopics li.section .content .toggle a  h3,
.course-content ul.ctopics li.section .content.sectionhidden h3 {
    margin: 0px;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.course-content ul.ctopics li.section .content .toggle a  h3.section-title,
.course-content ul.ctopics li.section .content.sectionhidden h3.section-title {
    margin: 4px;
}

/* Icon set common. */
.course-content ul.ctopics li.section .content .toggle a, #toggle-all .content h4 a {
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0px 4px;
}


/* Chevron icon set. */
.course-content ul.ctopics li.section .content .toggle-chevron a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-chevron a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|chevron_down]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-chevron a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|chevron_down]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-chevron a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|chevron_up]]);
}

#toggle-all .content .toggle-chevron h4 a.off {
    background-image: url([[pix:format_eduopen|chevron_down]]);
}

#toggle-all .content .toggle-chevron-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|chevron_up_glow]]);
}

#toggle-all .content .toggle-chevron h4 a.on {
    background-image: url([[pix:format_eduopen|chevron_up]]);
}

#toggle-all .content .toggle-chevron-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|chevron_down_glow]]);
}

/* Arrow icon set. */
.course-content ul.ctopics li.section .content .toggle-arrow a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-arrow a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|arrow_down]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|arrow_right]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|arrow_down]]);
}

#toggle-all .content .toggle-arrow h4 a.off {
    background-image: url([[pix:format_eduopen|arrow_down]]);
}

#toggle-all .content .toggle-arrow-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|arrow_right_glow]]);
}

#toggle-all .content .toggle-arrow h4 a.on {
    background-image: url([[pix:format_eduopen|arrow_right]]);
}

#toggle-all .content .toggle-arrow-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|arrow_down_glow]]);
}

/* Bulb icon set. */
.course-content ul.ctopics li.section .content .toggle-bulb a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-bulb a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|bulb_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-bulb a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|bulb_off]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-bulb a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|bulb_on]]);
}

#toggle-all .content .toggle-bulb h4 a.off {
    background-image: url([[pix:format_eduopen|bulb_on]]);
}

#toggle-all .content .toggle-bulb-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|bulb_off_glow]]);
}

#toggle-all .content .toggle-bulb h4 a.on {
    background-image: url([[pix:format_eduopen|bulb_off]]);
}

#toggle-all .content .toggle-bulb-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|bulb_on_glow]]);
}

/* Cloud icon set. */
.course-content ul.ctopics li.section .content .toggle-cloud a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-cloud a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|cloud_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-cloud a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|cloud_off]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-cloud a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|cloud_on]]);
}

#toggle-all .content .toggle-cloud h4 a.off {
    background-image: url([[pix:format_eduopen|cloud_on]]);
}

#toggle-all .content .toggle-cloud-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|cloud_off_glow]]);
}

#toggle-all .content .toggle-cloud h4 a.on {
    background-image: url([[pix:format_eduopen|cloud_off]]);
}

#toggle-all .content .toggle-cloud-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|cloud_on_glow]]);
}

/* Eye icon set. */
.course-content ul.ctopics li.section .content .toggle-eye a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-eye a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|eye_show]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-eye a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|eye_hide]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-eye a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|eye_show]]);
}

#toggle-all .content .toggle-eye h4 a.off {
    background-image: url([[pix:format_eduopen|eye_show]]);
}

#toggle-all .content .toggle-eye-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|eye_hide_glow]]);
}

#toggle-all .content .toggle-eye h4 a.on {
    background-image: url([[pix:format_eduopen|eye_hide]]);
}

#toggle-all .content .toggle-eye-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|eye_show_glow]]);
}

/* Ground signal set. */
.course-content ul.ctopics li.section .content .toggle-groundsignal a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-ground-signal a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|ground_signal_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-groundsignal a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|ground_signal_off]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-groundsignal a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|ground_signal_on]]);
}

#toggle-all .content .toggle-groundsignal h4 a.off {
    background-image: url([[pix:format_eduopen|ground_signal_on]]);
}

#toggle-all .content .toggle-groundsignal-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|ground_signal_off]]);
}

#toggle-all .content .toggle-groundsignal h4 a.on {
    background-image: url([[pix:format_eduopen|ground_signal_off]]);
}

#toggle-all .content .toggle-groundsignal-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|ground_signal_on]]);
}

/* LED icon set. */
.course-content ul.ctopics li.section .content .toggle-led a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-led a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|led_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-led a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|led_off]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-led a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|led_on]]);
}

#toggle-all .content .toggle-led h4 a.off {
    background-image: url([[pix:format_eduopen|led_on]]);
}

#toggle-all .content .toggle-led-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|led_off_glow]]);
}

#toggle-all .content .toggle-led h4 a.on {
    background-image: url([[pix:format_eduopen|led_off]]);
}

#toggle-all .content .toggle-led-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|led_on_glow]]);
}

/* Point icon set. */
.course-content ul.ctopics li.section .content .toggle-point a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-point a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|point_down]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-point a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|point_right]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-point a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|point_down]]);
}

#toggle-all .content .toggle-point h4 a.off {
    background-image: url([[pix:format_eduopen|point_down]]);
}

#toggle-all .content .toggle-point-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|point_right_glow]]);
}

#toggle-all .content .toggle-point h4 a.on {
    background-image: url([[pix:format_eduopen|point_right]]);
}

#toggle-all .content .toggle-point-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|point_down_glow]]);
}

/* Power icon set. */
.course-content ul.ctopics li.section .content .toggle-power a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-power a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|toggle_plus]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-power a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|toggle_minus]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-power a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|toggle_plus]]);
}

#toggle-all .content .toggle-power h4 a.off {
    background-image: url([[pix:format_eduopen|toggle_plus]]);
}

#toggle-all .content .toggle-power-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|toggle_minus_glow]]);
}

#toggle-all .content .toggle-power h4 a.on {
    background-image: url([[pix:format_eduopen|toggle_minus]]);
}

#toggle-all .content .toggle-power-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|toggle_plus_glow]]);
}

/* Radio icon set. */
.course-content ul.ctopics li.section .content .toggle-radio a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-radio a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|radio_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-radio a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|radio_off]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-radio a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|radio_on]]);
}

#toggle-all .content .toggle-radio h4 a.off {
    background-image: url([[pix:format_eduopen|radio_on]]);
}

#toggle-all .content .toggle-radio-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|radio_off_glow]]);
}

#toggle-all .content .toggle-radio h4 a.on {
    background-image: url([[pix:format_eduopen|radio_off]]);
}

#toggle-all .content .toggle-radio-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|radio_on_glow]]);
}

/* Smiley icon set. */
.course-content ul.ctopics li.section .content .toggle-smiley a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-smiley a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|smiley_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-smiley a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|smiley_off]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-smiley a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|smiley_on]]);
}

#toggle-all .content .toggle-smiley h4 a.off {
    background-image: url([[pix:format_eduopen|smiley_on]]);
}

#toggle-all .content .toggle-smiley-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|smiley_off_glow]]);
}

#toggle-all .content .toggle-smiley h4 a.on {
    background-image: url([[pix:format_eduopen|smiley_off]]);
}

#toggle-all .content .toggle-smiley-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|smiley_on_glow]]);
}

/* Square icon set. */
.course-content ul.ctopics li.section .content .toggle-square a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-square a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|square_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-square a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|square_off]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-square a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|square_on]]);
}

#toggle-all .content .toggle-square h4 a.off {
    background-image: url([[pix:format_eduopen|square_on]]);
}

#toggle-all .content .toggle-square-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|square_off_glow]]);
}

#toggle-all .content .toggle-square h4 a.on {
    background-image: url([[pix:format_eduopen|square_off]]);
}

#toggle-all .content .toggle-square-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|square_on_glow]]);
}

/* Sun / Moon icon set. */
.course-content ul.ctopics li.section .content .toggle-sunmoon a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-sunmoon a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|sunmoon_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-sunmoon a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|sunmoon_off]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-sunmoon a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|sunmoon_on]]);
}

#toggle-all .content .toggle-sunmoon h4 a.off {
    background-image: url([[pix:format_eduopen|sunmoon_on]]);
}

#toggle-all .content .toggle-sunmoon-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|sunmoon_off_glow]]);
}

#toggle-all .content .toggle-sunmoon h4 a.on {
    background-image: url([[pix:format_eduopen|sunmoon_off]]);
}

#toggle-all .content .toggle-sunmoon-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|sunmoon_on_glow]]);
}

/* Switch icon set. */
.course-content ul.ctopics li.section .content .toggle-switch a.toggle_closed, .course-content ul.ctopics li.section .content .toggle-switch a.toggle_open { /* JavaScript disabled */
    background-image: url([[pix:format_eduopen|switch_on]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-switch a.toggle_closed { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|switch_off]]);
}

body.jsenabled .course-content ul.ctopics li.section .content .toggle-switch a.toggle_open { /* JavaScript enabled */
    background-image: url([[pix:format_eduopen|switch_on]]);
}

#toggle-all .content .toggle-switch h4 a.off {
    background-image: url([[pix:format_eduopen|switch_on]]);
}

#toggle-all .content .toggle-switch-hover h4 a.off:hover {
    background-image: url([[pix:format_eduopen|switch_off_glow]]);
}

#toggle-all .content .toggle-switch h4 a.on {
    background-image: url([[pix:format_eduopen|switch_off]]);
}

#toggle-all .content .toggle-switch-hover h4 a.on:hover {
    background-image: url([[pix:format_eduopen|switch_on_glow]]);
}

/* Background images for the settings - does not work in Chrome or Safari - known issue */
body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="chevron"], body.format-eduopen select#id_toggleiconset option[value="chevron"] {
    background-image: url([[pix:format_eduopen|chevron_up]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="arrow"], body.format-eduopen select#id_toggleiconset option[value="arrow"] {
    background-image: url([[pix:format_eduopen|arrow_right]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="bulb"], body.format-eduopen select#id_toggleiconset option[value="bulb"] {
    background-image: url([[pix:format_eduopen|bulb_off]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="cloud"], body.format-eduopen select#id_toggleiconset option[value="cloud"] {
    background-image: url([[pix:format_eduopen|cloud_off]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="eye"], body.format-eduopen select#id_toggleiconset option[value="eye"] {
    background-image: url([[pix:format_eduopen|eye_hide]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="led"], body.format-eduopen select#id_toggleiconset option[value="led"] {
    background-image: url([[pix:format_eduopen|led_off]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="point"], body.format-eduopen select#id_toggleiconset option[value="point"] {
    background-image: url([[pix:format_eduopen|point_right]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="power"], body.format-eduopen select#id_toggleiconset option[value="power"] {
    background-image: url([[pix:format_eduopen|toggle_minus]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="radio"], body.format-eduopen select#id_toggleiconset option[value="radio"] {
    background-image: url([[pix:format_eduopen|radio_off]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="smiley"], body.format-eduopen select#id_toggleiconset option[value="smiley"] {
    background-image: url([[pix:format_eduopen|smiley_off]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="square"], body.format-eduopen select#id_toggleiconset option[value="square"] {
    background-image: url([[pix:format_eduopen|square_off]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="sunmoon"], body.format-eduopen select#id_toggleiconset option[value="sunmoon"] {
    background-image: url([[pix:format_eduopen|sunmoon_off]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option[value="switch"], body.format-eduopen select#id_toggleiconset option[value="switch"] {
    background-image: url([[pix:format_eduopen|switch_off]]);
}

body#page-admin-setting-formatsettingeduopen select#id_s_format_eduopen_defaulttoggleiconset option, body.format-eduopen select#id_toggleiconset option {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 45px 45%; /* Position the icon roughly to the right of the selection text. */
    padding: 3px 20px 3px 3px; /* The 20px allows the image to be on the right and the text next to it. */
}

body#page-admin-setting-formatsettingeduopen.lang-en_ar select#id_s_format_eduopen_defaulttoggleiconset option, body.format-eduopen.lang-en_ar select#id_toggleiconset option {
    background-position: 220px 45%; /* Pirate strings are longer. */
}

/* MyMobile */
#mymobile .course-content ul.ctopics li.tcsection .content, #mymobile .course-content ul.ctopics li.section.main .content {
    margin: 0;
}

/* Display instructions */
.eduopen-display-instructions {
    margin: 0px;
}

/* Layout */
.course-content ul.ctopics #section-0 .content{
    padding: 10px;
}

.course-content ul.ctopics li.section.main .side, .course-content ul.ctopics li.tcsection .side {
    width: 40px; /* Default used in editing mode. */
    text-align: center;
    padding: 0px;
}

.course-content ul.ctopics li.section .left, .course-content ul.ctopics li.tcsection .left {
    float:left;
}

.course-content ul.ctopics li.section.main .left {
    padding: 10px 0px 0px 0px;
}

.course-content ul.ctopics li.current.main .right {
    padding: 0px 0px 0px 0px; /* Cancel out effect of above when having to use 'left' side selector for getting the correct text colour on the right for the current section.  This is because the selector '.course-content .current .left' defines the colour in the theme and therefore any CT specific 'right' implementation would not work for all themes. */
}

.course-content ul.ctopics li.section .right, .course-content ul.ctopics li.tcsection .right {
    float:right;
}

.course-content ul.ctopics li.section .right {
    line-height: 1.3;
}

.course-content ul.ctopics li.section .right a {
    display: block;  /* So that section_right_content() does not implode with 'br's and get too many when the up arrow is removed by JS. */
}
.course-content ul.ctopics li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

/* Assist the layout. */
body.format-eduopen .ctopics .section .activity .mod-indent-outer,
body.format-eduopen.editing.dir-rtl .ctopics .section .activity .mod-indent-outer {
    padding-left: 0px;
}

body.format-eduopen.editing .ctopics .section .activity .mod-indent-outer {
    padding-left: 32px;
}

body.format-eduopen.dir-rtl .ctopics .section .activity .mod-indent-outer {
    padding-right: 0px;
}

body.format-eduopen.editing.dir-rtl .ctopics .section .activity .mod-indent-outer {
    padding-right: 32px;
}

body.format-eduopen .ctopics .section  {
    margin: 0 !important;
    padding: 0 !important;
}

body.format-eduopen .course-content ul.ctopics li.section .summary {
    margin-left: 0px;
}

body.format-eduopen.dir-rtl .course-content ul.ctopics li.section .summary {
    margin-right: 0px;
}

body.format-eduopen .course-content ul.ctopics li.section .summary.summaryalwaysshown {
    padding-top: 10px;
    line-height: 20px !important;
}

body.format-eduopen.editing .section .activity .contentwithoutlink, body.format-eduopen.editing .section .activity .activityinstance {
    padding-right: 0px;
    display: inline;
}

body.format-eduopen.editing.dir-rtl .section .activity .contentwithoutlink, body.format-eduopen.editing.dir-rtl .section .activity .activityinstance {
    padding-left: 0px;
}

body.format-eduopen.editing .section .activity .actions {
    position: relative;
}

body.format-eduopen.editing #region-main .moodle-actionmenu ul.menubar {
    display: none;
}

body.format-eduopen.editing.jsenabled #region-main .moodle-actionmenu[data-enhance] ul.menubar {
    display: inline-block;
}

/* -- The section name in a Toggle and hidden section -- */
.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden  {
    display: block;
    text-align: left;
    padding: 0 0;
}

/* -- The width of a section name in a Toggle -- */
.course-content ul.ctopics li.section .content .toggle {
    width: 100%;
}

/* -- The padding of a hidden section -- */
.course-content ul.ctopics li.section .content.sectionhidden  {
    padding: 6px 0px 6px 0px;
}

/* -- The topic summary text -- */
.course-content ul.ctopics li.section .content .toggle a p {
    font-size: 1.2em;
    font-style: italic;
    text-align: left;
}

/* -- For centring the 'Topic / Week / Day x' text -- */
.course-content ul.ctopics li.section .right span.cps_centre {
    text-align: center;
    font-size: 0.7em;
}

/* -- Toggle text -- */
.course-content ul.ctopics li.section .content .toggle a, .course-content ul.ctopics li.section .content.sectionhidden {
    text-decoration: none;
    font-weight: bold;
}

#mymobile .course-content ul.ctopics li.section .content .toggle a {
    font-weight: normal; /* So not blurred on mobile devices. */
}

.course-content ul.ctopics li.section .content .toggledsection {
    min-height: 30px;
}

/* -- Hiding / Showing the sections -- */
body.jsenabled .toggledsection {
    display: none; /* If JavaScript is enabled then this css will apply and the section will be hidden. */
}

body.jsenabled .toggledsection.sectionopen {
    display: block;
}

/* -- Size of the spacer row -- */
.section .spacer {
    height:0.5em;
}

body.ie7 .course-content ul.ctopics li.section .right .spacer {
    height:0.0em;
}

/* Toggle all */
#toggle-all, #eduopen-display-instructions {
    display: none; /* Hide when JavaScript not enabled. */
}

body.jsenabled #toggle-all, body.jsenabled #eduopen-display-instructions {
    display: block;
}

body.jsenabled #toggle-all {
    background: none repeat scroll 0 0 transparent;
}

#toggle-all .content .sectionbody h4 {
    display: block;
    padding: 6px 0px;
    margin-bottom: 0em;
}

#toggle-all .content .sectionbody h4 a {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 35px;
    text-decoration: none;
}

#toggle-all .content .sectionbody h4 a.tc-small {
    padding-left: 18px; /* The 18px allows the arrow to be with the text next to it. */
    padding-right: 18px;
}

#toggle-all .content .sectionbody h4 a.tc-medium {
    padding-left: 26px; /* The 26px allows the arrow to be with the text next to it. */
    padding-right: 26px;
}

#toggle-all .content .sectionbody h4 a.tc-large {
    padding-left: 34px; /* The 34px allows the arrow to be with the text next to it. */
    padding-right: 34px;
}

#toggle-all .content .sectionbody h4, #toggle-all .content .sectionbody h4 a {
    text-align: left;
}

.dir-rtl #toggle-all .content .sectionbody h4, .dir-rtl #toggle-all .content .sectionbody h4 a {
    text-align: right;
}

.cttoggle {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}

/* print styles. */
@media print {
    body.jsenabled .toggledsection {
        display: block; /* If JavaScript is enabled and we are printing then this css will apply and the section will be shown. */
    }
    body.jsenabled #toggle-all, body.jsenabled #eduopen-display-instructions, .cttoggle {
        display: none;
    }
    .course-content ul.ctopics li.section.main {
        float: left;
    }
    body.format-eduopen .course-content ul.ctopics li.section.main {
        padding-bottom: 0px;
    }
    ul.ctopics {
        page-break-before: avoid;
        page-break-after: avoid;
    }
}

/*Added by Shiuli on 18th dec a/c to zohoupdate(bojan) */
/* For Course view Toggle 29th April,16 */
.CourseToggle {
    margin: 0 !important;
    padding: 9px 30px 9px 0px;
    cursor: pointer;
    font-size: 14px;
}
.CourseToggle .fa {
    margin-top: 0 !important;
}

#eduopen-display-instructions .content {
    margin: 0 !important;
    float: left;
}

#eduopen-display-instructions {
    padding: 5px 0px;
}

#eduopen-display-instructions .sectionbody {
    margin-left: 10px;
}

.Togg .fa {
    cursor: pointer;
}

.course-content ul li.section.main {
    margin-bottom: 1% !important;
    border-bottom: none !important;
}

#page-course-view-eduopen .panel-heading {
    text-transform: none !important;
    font-family: Roboto Regular !important;
    font-size: 20px;
}